<div class="container">
    <div class="row gx-4 mt-4 mt-md-0">
        <div class="col-12 col-md-2 d-flex justify-content-center p-0">
            <div class="w-100 pt-0">
                <div class="w-100 rounded-top text-center shadow h-100">
                    <div class="d-block rounded-top  overflow-hidden text-center bg-white rounded-bottom-2 h-100 ">
                        <div class="text-white py-1" style="height: 30%; background-color: #800000;">
                            {{ event.Date.strftime('%b') | upper }}
                        </div>
                        <div class="d-flex flex-column justify-content-center border-start border-end border-white  text-center border-white" style="height: 70%">
                            <span class="fs-2 fw-bold">
                                {{ event.Date.strftime('%d') }}
                            </span>
                            <span class="fs-5">
                                {{ event.Date.strftime('%a') | upper }}
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-10 d-flex flex-column">
            {{ event.ActivityName }}
            <span class="fs-5">
                {{ event.StartTime.strftime('%I:%M %p') }} to {{ event.EndTime.strftime('%I:%M %p') }}
            </span>
            <p>{{ event.Location }}</p>
            <small class="text-secondary ">{{ event.Project.Title }}</small>
        </div>
    </div>
</div>