<style>
    .fc-day-today {
        background-color: rgba(242, 203, 5, 0.25)!important;
    }
    .fc-event.fc-daygrid-event,
    .fc-event.fc-timegrid-event{
        background-color: #800000;
        outline: 0;
    }
    .fc-daygrid-event-dot {
        display: none
    }

    .fc-event-time {
        padding-left: 5px;
    }

    .fc-event-time,
    .fc-event-title {
        color: white;
    }
</style>

<div id="calendar" class="p-4 bg-white rounded-2 shadow"></div>

<!-- Modal -->
<!-- <div id="eventModal" class="modal">
        <div class="modal-content w-100 max-w-md">
            <h2 class="fs-2  fw-semibold mb-4" id="eventTitle"></h2>
            <p id="eventStart" class="mb-4"></p>
            <p id="eventProject" class="mb-4"></p>
            <div style="display: flex; justify-content: flex-end;">
                <button type="button" id="closeModal" class="bg-secondary text-white px-4 py-2 rounded-3 mt-4">Close</button>
            </div>
        </div>
    </div>
</div> -->
<script src="https://cdn.jsdelivr.net/npm/fullcalendar@6.1.8/index.global.min.js"></script>
<script>    
    document.addEventListener('DOMContentLoaded', function() {
        var calendarEl = document.getElementById('calendar');

        // Get all the activities
        let eventsData = [
            {% for event in events %}
            {
                title: '{{ event.ActivityName }}',
                start: '{{ event.Date~'T'~event.StartTime }}', 
                end: '{{ event.Date~'T'~event.EndTime }}', 
                project: '{{ event.Project.Title }}', 
                url: '{{ url_for("programs.activity", id=event.ActivityId) if (current_user.is_authenticated and current_user.RoleId in [2, 3]) or not current_user.is_authenticated else url_for("programs.viewProject", id=event.ProjectId)}}'
            },
            {% endfor %}
        ];

        var calendar = new FullCalendar.Calendar(calendarEl, {
            initialView: 'dayGridMonth',
            headerToolbar: {
                left: 'prev,next today',
                center: 'title',
                right: 'dayGridMonth,timeGridWeek,timeGridDay'
            },
            events: eventsData,
        });
        calendar.render();
    });

</script> 