
<div id="calendar" class="p-4 bg-white rounded-2 shadow"></div>
<!-- Modal -->
<!-- <div id="eventModal" class="modal">
        <div class="modal-content w-100 max-w-md">
            <h2 class="fs-2  fw-semibold mb-4" id="eventTitle"></h2>
            <p id="eventStart" class="mb-4"></p>
            <p id="eventProject" class="mb-4"></p>
            <div style="display: flex; justify-content: flex-end;">
                <button type="button" id="closeModal" class="bg-secondary text-white px-4 py-2 rounded-3 mt-4">Close</button>
            </div>
        </div>
    </div>
</div> -->
<script src="https://cdn.jsdelivr.net/npm/fullcalendar@6.1.8/index.global.min.js"></script>
<script>    
        var calendarEl = document.getElementById('calendar');
        let projects = [{% for event in events%}{{event.ProjectId}},{% endfor %}];

        const colorMap = {
        };

        const colors = ["#28a745", "#007bff", "#dc3545", "#ffc107", "#17a2b8"]; // pre-defined palette

        projects.forEach((project, index) => {
            const colorIndex = index % colors.length; // ensure color rotation
            colorMap[project] = colors[colorIndex];
        });

        // Get all the activities
        let eventsData = [
            {% for event in events %}
            {
                
                title: '{{ event.ActivityName }}',
                start: '{{ event.Date~'T'~event.StartTime }}', 
                end: '{{ event.Date~'T'~event.EndTime }}', 
                url: '{{ url_for("programs.viewActivity", id=event.ActivityId) if current_user.is_authenticated and current_user.RoleId in [1, 4] else url_for("programs.activity", id=event.ActivityId) }}',
                backgroundColor: colorMap[{{event.ProjectId}}],
                borderColor: colorMap[{{event.ProjectId}}]
            },
            {% endfor %}
        ];

        console.log(eventsData);

        var calendar = new FullCalendar.Calendar(calendarEl, {
            initialView: 'dayGridMonth',
            headerToolbar: {
                left: 'prev,next today',
                center: 'title',
                right: 'dayGridMonth,timeGridWeek,timeGridDay'
            },
            eventDisplay: 'block',
            events: eventsData,
        });

        // function setEventColors(events) {
        // events.forEach(event => {
        //     const project = event.project;
        //     if (colorMap[project]) {
        //     event.backgroundColor = colorMap[project];
        //     } else {
        //     // handle unknown categories (e.g., default color or log error)
        //     }
        // });
        // }

        // setEventColors(eventsData);

        calendar.render();

</script> 