<header class="navbar navbar-expand-md d-print-none bg-white ">
    <div class="container-xl">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar-menu" aria-controls="navbar-menu" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <h1 class="navbar-brand navbar-brand-autodark d-none-navbar-horizontal pe-0 pe-md-3">
            <a href="." class="me-2">
                <img src="{{ url_for('static', filename='images/PUPLogo.png') }}" alt="PUP Logo" width="110" height="32" class="navbar-brand-image">
            </a>Extension Services Information System
        </h1>
        <div class="navbar-nav flex-row order-md-last">
            {% if current_user.is_authenticated %}
            <div class="nav-item dropdown">
                <a href="#" class="nav-link d-flex lh-1 text-reset p-0" data-bs-toggle="dropdown" aria-label="Open user menu">
                    <span class="avatar avatar-sm"><svg class="w-8 h-8 rounded-full" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="currentColor" d="M12 4a4 4 0 0 1 4 4a4 4 0 0 1-4 4a4 4 0 0 1-4-4a4 4 0 0 1 4-4m0 2a2 2 0 0 0-2 2a2 2 0 0 0 2 2a2 2 0 0 0 2-2a2 2 0 0 0-2-2m0 7c2.67 0 8 1.33 8 4v3H4v-3c0-2.67 5.33-4 8-4m0 1.9c-2.97 0-6.1 1.46-6.1 2.1v1.1h12.2V17c0-.64-3.13-2.1-6.1-2.1Z"/></svg></span>
                    <div class="d-none d-xl-block ps-2">
                        {% if current_user.Role.RoleName == "Beneficiary" %}
                        <div>{{current_user.Beneficiary.FirstName}} {{current_user.Beneficiary.LastName}}</div>
                        {% else %}
                        <div>{{current_user.Student.FirstName}} {{current_user.Student.LastName}}</div>
                        {% endif %}
                        <div class="mt-1 small text-secondary">{{current_user.Role.RoleName}}</div>
                    </div>
                </a>
                <div class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                    <a href="{{url_for('user.profile')}}" class="dropdown-item">Profile</a>
                    <div class="dropdown-divider"></div>
                    {% if current_user.RoleId == 2 %}
                    <a href="{{url_for('user.changePassword')}}" class="dropdown-item">Change Password</a>
                    {% endif %}
                    <a href="{{url_for('auth.logout')}}" class="dropdown-item">Logout</a>
                </div>
            </div>
            {% else %}
            <div class="d-flex justify-content-center align-items-center ">
                <a href="{{ url_for('auth.login') }}" class="fw-semibold text-black text-decoration-none">Login</a>
            </div>
            {% endif %}
        </div>
    </div>
</header>


<header class="navbar-expand-md bg-white border border-top-1 border-secondary-subtle">
    <div class="collapse navbar-collapse" id="navbar-menu">
        <div class="navbar">
            <div class="container-xl">
            <ul class="navbar-nav">
                <li class="nav-item">
                <a class="nav-link" href="/" >
                    <span class="nav-link-icon d-md-none d-lg-inline-block"><!-- Download SVG icon from http://tabler-icons.io/i/home -->
                    <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M5 12l-2 0l9 -9l9 9l-2 0" /><path d="M5 12v7a2 2 0 0 0 2 2h10a2 2 0 0 0 2 -2v-7" /><path d="M9 21v-6a2 2 0 0 1 2 -2h2a2 2 0 0 1 2 2v6" /></svg>
                    </span>
                    <span class="nav-link-title">
                    Home
                    </span>
                </a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#navbar-help" data-bs-toggle="dropdown" data-bs-auto-close="outside" role="button" aria-expanded="false" >
                        <span class="nav-link-icon d-md-none d-lg-inline-block"><!-- Download SVG icon from http://tabler-icons.io/i/lifebuoy -->
                            <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M12 12m-4 0a4 4 0 1 0 8 0a4 4 0 1 0 -8 0" /><path d="M12 12m-9 0a9 9 0 1 0 18 0a9 9 0 1 0 -18 0" /><path d="M15 15l3.35 3.35" /><path d="M9 15l-3.35 3.35" /><path d="M5.65 5.65l3.35 3.35" /><path d="M18.35 5.65l-3.35 3.35" /></svg>
                        </span>
                        <span class="nav-link-title">
                            Extension Services
                        </span>
                    </a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="{{url_for('programs.extensionPrograms')}}" rel="noopener">
                            Programs
                        </a>
                        <a class="dropdown-item" href="{{url_for('programs.projects')}}">
                            Projects
                        </a>
                        <a class="dropdown-item" href="{{url_for('programs.activities')}}">
                            Activities
                        </a>
                    </div>
                </li>
                {% if current_user.is_authenticated and current_user.Role.RoleName in ["Beneficiary", "Student"]%}
                <li class="nav-item">
                <a class="nav-link" href="{{url_for('announcement.announcement')}}" >
                    <span class="nav-link-icon d-md-none d-lg-inline-block"><!-- Download SVG icon from http://tabler-icons.io/i/ghost -->
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 20 20"><g fill="currentColor" fill-rule="evenodd" clip-rule="evenodd"><path d="M6.4 4.882v4.436l7.6 2.073V2.809zm-1 4.436a1 1 0 0 0 .737.965l7.6 2.073A1 1 0 0 0 15 11.39V2.809a1 1 0 0 0-1.263-.965l-7.6 2.073a1 1 0 0 0-.737.965z"/><path d="M3.456 9.3H5.5V4.9H3.453a3.422 3.422 0 0 0 .003 4.4m2.044 1a1 1 0 0 0 1-1V4.9a1 1 0 0 0-1-1H3.253a.55.55 0 0 0-.4.172c-1.602 1.691-1.595 4.353-.002 6.052a.555.555 0 0 0 .405.176z"/><path d="m7.269 10.87l-2.51-.28l-.978 3.91h2.636zm-2.4-1.273a1 1 0 0 0-1.081.75l-.977 3.91a1 1 0 0 0 .97 1.243h2.636a1 1 0 0 0 .974-.772l.852-3.63a1 1 0 0 0-.864-1.223zm13.747-6.374a.5.5 0 0 1-.139.693l-1.5 1a.5.5 0 1 1-.554-.832l1.5-1a.5.5 0 0 1 .693.139M16.2 7.1a.5.5 0 0 1 .5-.5h1.5a.5.5 0 0 1 0 1h-1.5a.5.5 0 0 1-.5-.5m.117 2.23a.5.5 0 0 1 .705-.06l1.38 1.159a.5.5 0 0 1-.643.765l-1.38-1.16a.5.5 0 0 1-.062-.704"/></g></svg>
                    </span>
                    <span class="nav-link-title">
                    Announcements
                    </span>
                </a>
                </li>
                {% endif %}
            </ul>
            </div>
        </div>
    </div>
</header>