{% extends 'base.html' %}

{% block head %}
    <!-- <link rel="stylesheet" href="{{ url_for('static', filename='css/auth/signup_style.css') }}"> -->
    <title>PUP-ESIS Reset Password</title>
    <!-- <script src="{{ url_for('auth.static', filename='js/index.js')}}"></script> -->
{% endblock %}

{% block content %}
<div class="page page-center d-flex align-items-center vh-100">
    <div class="container container-tight py-4">
        <div class="text-center mb-4">
            <span class="navbar-brand navbar-brand-autodark">
                <img src="{{url_for('static', filename='images/PUPLogo.png')}}" width="110" height="32" alt="PUPQC-ESIS" class="navbar-brand-image me-2">
                Extension Services Information System
            </span>
        </div>
        <form class="card card-md" action="" method="post">
            {{ form.hidden_tag() }}
            <div class="card-body">
                <h2 class="card-title text-center mb-4">Forgot password</h2>
                <p class="text-secondary mb-4">Enter your email address and a link will be emailed to you.</p>
                <div class="mb-3">
                    {{ form.email.label(class="form-label") }}
                    {{ form.email(class="form-control", placeholder="Enter email") }}
                </div>
                <div class="form-footer">
                    {{ form.submit(class="btn btn-primary w-100")}}
                </div>
            </div>
        </form>
        <div class="text-center text-secondary mt-3">
            Forget it, <a href="{{ url_for('auth.login') }}">send me back</a> to the sign in screen.
        </div>
    </div>
</div>
{% endblock %}