{% extends 'base.html' %}

{% block head %}
    <!-- <link rel="stylesheet" href="{{ url_for('static', filename='css/auth/signup_style.css') }}"> -->
    <title>PUP-ESIS Signup</title>
    <script src="{{ url_for('static', filename='js/index.js')}}"></script>
{% endblock %}

{% block content %}
<div class="page page-center d-flex align-items-center vh-100">
    <div class="container container-xl py-4">
        <div class="text-center mb-4">
            <span class="navbar-brand navbar-brand-autodark">
                <img src="{{url_for('static', filename='images/PUPLogo.png')}}" width="110" height="32" alt="PUPQC-ESIS" class="navbar-brand-image me-2">
                Extension Services Information System
            </span>
        </div>
        <form id="signupForm"  class="card card-md" action="" method="post">
            {{ form.hidden_tag() }}
            <div class="card-body row">
                <h2 class="card-title text-center mb-1">Create new account</h2>
                <small class="mb-3 text-secondary text-center"><em>Fields marked with <span class="text-danger ">*</span> are mandatory.</em></small>
                <div class="mb-2 col-12 col-md-4">
                    <div class="d-flex">{{ form.first_name.label(class="form-label") }}<span class="text-danger ms-1">*</span></div>
                    {{ form.first_name(id="first_name", class="form-control") }}
                    <ul>
                        {% for error in form.first_name.errors %}
                        <li class="text-danger fs-5 mb-4 mt-0 p-0">{{ error }}</li>
                        {% endfor %}
                    </ul>
                </div> 
                <div class="mb-2 col-12 col-md-4">
                    <div class="d-flex">{{ form.middle_name.label(class="form-label") }}</div>
                    {{ form.middle_name(id="middle_name", class="form-control") }}
                    <ul>
                        {% for error in form.middle_name.errors %}
                        <li class="text-danger fs-5 mb-4 mt-0 p-0">{{ error }}</li>
                        {% endfor %}
                    </ul>
                </div> 
                <div class="mb-2 col-12 col-md-4">
                    <div class="d-flex">{{ form.last_name.label(class="form-label") }}<span class="text-danger ms-1">*</span></div>
                    {{ form.last_name(id="last_name", class="form-control") }}
                    <ul>
                        {% for error in form.last_name.errors %}
                        <li class="text-danger fs-5 mb-4 mt-0 p-0">{{ error }}</li>
                        {% endfor %}
                    </ul>
                </div> 
                <div class="mb-2 col-12 col-md-3">
                    <div class="d-flex">{{ form.contact_details.label(class="form-label") }}<span class="text-danger ms-1">*</span></div>
                    {{ form.contact_details(id="contact_details", class="form-control", pattern="^[0-9]+$") }}
                    <ul>
                        {% for error in form.contact_details.errors %}
                        <li class="text-danger fs-5 mb-4 mt-0 p-0">{{ error }}</li>
                        {% endfor %}
                    </ul>
                </div> 
                <div class="mb-2 col-12 col-md-3">
                    <div class="d-flex">{{ form.birthdate.label(class="form-label") }}<span class="text-danger ms-1">*</span></div>
                    {{ form.birthdate(id="birthdate", class="form-control") }}
                    <ul>
                        {% for error in form.birthdate.errors %}
                        <li class="text-danger fs-5 mb-4 mt-0 p-0">{{ error }}</li>
                        {% endfor %}
                    </ul>
                </div> 
                <div class="mb-2 col-12 col-md-3">
                    <div class="d-flex">{{ form.birthplace.label(class="form-label") }}<span class="text-danger ms-1">*</span></div>
                    {{ form.birthplace(id="birthplace", class="form-control") }}
                    <ul>
                        {% for error in form.birthplace.errors %}
                        <li class="text-danger fs-5 mb-4 mt-0 p-0">{{ error }}</li>
                        {% endfor %}
                    </ul>
                </div> 
                <div class="mb-2 col-12 col-md-3">
                    <div class="d-flex">{{ form.gender.label(class="form-label") }}<span class="text-danger ms-1">*</span></div>
                    <select name="gender" id="gender" class="form-select" required>
                        <option value="" disabled selected></option>
                        {% for option in form.gender %}
                        {{ option }}
                        {% endfor %}
                    </select>
                    <ul>
                        {% for error in form.gender.errors %}
                        <li class="text-danger fs-5 mb-4 mt-0 p-0">{{ error }}</li>
                        {% endfor %}
                    </ul>
                </div> 
                <div class="mb-2 col-12">
                    <div class="d-flex">{{ form.address.label(class="form-label") }}<span class="text-danger ms-1">*</span></div>
                    {{ form.address(id="address", class="form-control", maxlength="50") }}
                    <ul>
                        {% for error in form.address.errors %}
                        <li class="text-danger fs-5 mb-4 mt-0 p-0">{{ error }}</li>
                        {% endfor %}
                    </ul>
                </div> 
                <div class="mb-2 col-12">
                    <div class="d-flex">{{ form.email.label(class="form-label") }}<span class="text-danger ms-1">*</span></div>
                    {{ form.email(id="email", class="form-control", type="email") }}
                    <ul>
                        {% for error in form.email.errors %}
                        <li class="text-danger fs-5 mb-4 mt-0 p-0">{{ error }}</li>
                        {% endfor %}
                    </ul>
                </div> 
                <div class="mb-2 col-12 col-md-6">
                    <div class="d-flex">{{ form.password1.label(class="form-label") }}<span class="text-danger ms-1">*</span></div>
                    {{ form.password1(class="form-control") }}
                    <ul>
                        {% for error in form.password1.errors %}
                        <li class="text-danger fs-5 mb-4 mt-0 p-0">{{ error }}</li>
                        {% endfor %}
                    </ul>
                </div> 
                <div class="mb-2 col-auto col-md-6">
                    <div class="d-flex">{{ form.password2.label(class="form-label") }}<span class="text-danger ms-1">*</span></div>
                    {{ form.password2(class="form-control") }}
                    <ul>
                        {% for error in form.password2.errors %}
                        <li class="text-danger fs-5 mb-4 mt-0 p-0">{{ error }}</li>
                        {% endfor %}
                    </ul>
                </div> 
                <div class="form-footer">
                    {{form.signup(class="btn btn-primary w-100")}}
                </div>
            </div>
        </form>
        <div class="text-center text-secondary mt-3">
            Already have account? <a href="{{ url_for('auth.beneficiaryLogin') if request.url == url_for('auth.beneficiarySignup', _external=True) else url_for('auth.studentLogin') }}" tabindex="-1">Sign in</a>
        </div>
    </div>
</div>
{% include 'auth/review_modal.html' %}


<script>
    // Get a reference to the signup form
    const signupForm = document.getElementById('signupForm');

    // Get a reference to the review modal
    const reviewModal = document.getElementById('reviewModal');

    // Define the handleSubmit function
    function handleSubmit(e) {
        e.preventDefault(); // Prevent default form submission
        
        // Get form input values
        const first_name = document.getElementById('first_name').value;
        const middle_name = document.getElementById('middle_name').value;
        const last_name = document.getElementById('last_name').value;
        const contact_details = document.getElementById('contact_details').value;
        const birthdate = document.getElementById('birthdate').value;
        const birthplace = document.getElementById('birthplace').value;
        const selectGender = document.getElementById('gender');
        const gender = selectGender.options[selectGender.selectedIndex].text;
        const address = document.getElementById('address').value;
        const email = document.getElementById('email').value;

        // Display the inputted values in the modal
        document.getElementById('reviewFirstName').textContent = first_name;
        document.getElementById('reviewMiddleName').textContent = middle_name;
        document.getElementById('reviewLastName').textContent = last_name;
        document.getElementById('reviewContact').textContent = contact_details;
        document.getElementById('reviewBirthdate').textContent = formatDate(birthdate);
        document.getElementById('reviewBirthplace').textContent = birthplace;
        document.getElementById('reviewGender').textContent = gender;
        document.getElementById('reviewAddress').textContent = address;
        document.getElementById('reviewEmail').textContent = email;

        // Show the review modal
        reviewModal.classList.add("show");

        // Remove aria-hidden attribute
        reviewModal.removeAttribute('aria-hidden');

        // Add aria-modal attribute with value true
        reviewModal.setAttribute('aria-modal', 'true');

        reviewModal.style.display = "block";
    }
    
    // Handle the click event of the Save button in the modal
    document.getElementById('saveButton').addEventListener('click', function () {
        
        // Remove the form submit event listener and submit the form
        signupForm.removeEventListener('submit', handleSubmit);
        signupForm.submit();
    });

    // Handle the click event of the cancel button in the modal
    document.getElementById('cancelButton').addEventListener('click', function () {
        // Re-add the form submit event listener
        signupForm.addEventListener('submit', handleSubmit);

        // Hide the review modal
        reviewModal.classList.remove("show");
        
        // Remove aria-modal attribute
        reviewModal.removeAttribute('aria-modal');
        
        // Add aria-hidden attribute with value true
        reviewModal.setAttribute('aria-hidden', 'true');
        
        reviewModal.style.display = "none";
    });

    // Add the form submit event listener
    signupForm.addEventListener('submit', handleSubmit);

    function formatDate(inputDate) {
        // Parse the input date string into a Date object
        let date = new Date(inputDate);

        // Get the month, day, and year from the date object
        let month = (date.getMonth() + 1).toString().padStart(2, '0'); // Adding 1 because getMonth() returns 0-indexed month
        let day = date.getDate().toString().padStart(2, '0');
        let year = date.getFullYear();

        // Concatenate the parts with dashes to get the desired format
        let formattedDate = `${month}-${day}-${year}`;

        return formattedDate;
    }
</script>
{% endblock %}