{% extends 'admin/base.html' %}

{% block head %}
    <title>PUPQC-ESIS Announcement</title>
{% endblock %}

{% block content %}
<div class="container w-100 mx-auto mt-4">
    <div class="d-flex justify-content-between align-items-center mb-4 mb-0">
        <h2 class="page-title">
            Announcements
        </h2>
        <a href="{{ url_for('announcement.createAnnouncement') }}" class="btn btn-success d-none d-sm-inline-block">
            <!-- Download SVG icon from http://tabler-icons.io/i/plus -->
            <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path d="M12 5l0 14"></path><path d="M5 12l14 0"></path></svg>
            Create announcement
        </a>
    </div>

    <div class="d-flex mb-3 w-75 row">
        <div class="col-auto col-md-3 d-flex flex-column">
            <span class="fs-4">Program</span>
            <select name="program" id="program" hx-trigger="change" hx-get="/filter/extension-program" hx-target="#extension-program" class="border border-secondary-subtle  text-secondary rounded-3 p-1 w-100">
                <option selected disabled>Select a program</option>
                {% for program in programs %}
                <option value="{{program.CourseId}}">{{program.CourseCode}}</option>
                {% endfor %}
            </select>
        </div>
        <div class="col-auto col-md-3 d-flex flex-column">
            <span class="fs-4">Extension Program</span>
            <select name="extension-program" id="extension-program" hx-trigger="change" hx-get="/filter/project" hx-target="#project" class="border border-secondary-subtle  text-secondary rounded-3 p-1 w-100">
            </select>
        </div>
        <div class="col-auto col-md-6 d-flex flex-column">
            <span class="fs-4">Project</span>
            <select name="project" id="project" hx-trigger="change, load" hx-get="/filter/announcement" hx-target="#myTabContent" class="border border-secondary-subtle  text-secondary rounded-3 p-1 w-100">
            </select>
        </div>
    </div>

    <div class="card">
        <div class="card-header">
        <ul class="nav nav-tabs card-header-tabs" data-bs-toggle="tabs" role="tablist">
            <li class="nav-item" role="presentation">
            <a href="#tabs-home-3" class="nav-link active" data-bs-toggle="tab" aria-selected="true" role="tab"><!-- Download SVG icon from http://tabler-icons.io/i/home -->
                Published</a>
            </li>
            <li class="nav-item" role="presentation">
            <a href="#tabs-profile-3" class="nav-link" data-bs-toggle="tab" aria-selected="false" tabindex="-1" role="tab"><!-- Download SVG icon from http://tabler-icons.io/i/user -->
                Draft</a>
            </li>
        </ul>
        </div>
        <div class="card-body">
        <div class="tab-content" id="myTabContent">
            
        </div>
        </div>
    </div>
</div>


{% endblock %}

{% block script %}
<script src="https://unpkg.com/htmx.org@1.9.5"></script>
<script>
    $(document).ready(function() {
        $('#published-tab').on('click', function () {
            $('#published').removeClass('hidden').addClass('block');
            $('#draft').removeClass('block').addClass('hidden');
        });
        $('#draft-tab').on('click', function () {
            $('#draft').removeClass('hidden').addClass('block');
            $('#published').removeClass('block').addClass('hidden');
        });
    });
</script>
{% endblock %}