<nav class="main-header navbar navbar-expand border-0 navbar-white navbar-light">
    <ul class="navbar-nav">
        <li class="nav-item ps-3">
            <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
        </li>
    </ul>
    <div class="navbar-nav ml-auto dropdown me-3 me-md-5 d-flex align-items-center ">
        <a href="#" class="nav-link d-flex lh-1 text-reset p-0" data-bs-toggle="dropdown" aria-label="Open user menu">
            <span class="avatar avatar-sm" style="background-image: url( 'https://lh3.googleusercontent.com/d/{{current_user.Faculty.ProfilePic}}')"></span>
            <div class="d-none d-xl-block ps-2">
                <div>{{current_user.Faculty.FirstName}} {{current_user.Faculty.LastName}}</div>
                <div class="mt-1 small text-secondary">{{'Faculty Extensionist  / ' if current_user.Role.RoleName == 'Admin'}}{{current_user.Role.RoleName}}</div>
            </div>
        </a>
        <div class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
            <a href="{{url_for('user.profile')}}" class="dropdown-item">Profile</a>
            <div class="dropdown-divider"></div>
            <a href="" class="dropdown-item">Change Password</a>
            <a href="{{url_for('admin.logout') if current_user.RoleId == 1 else url_for('auth.logout')}}" class="dropdown-item">Logout</a>
        </div>
    </div>
</nav>

