<nav class="main-header navbar navbar-expand border-0 navbar-white navbar-light">
    <ul class="navbar-nav">
        <li class="nav-item ps-3">
            <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
        </li>
    </ul>
    <div class="navbar-nav ml-auto dropdown me-3 me-md-5 d-flex align-items-center ">
        <a href="#" class="nav-link d-flex lh-1 text-reset p-0" data-bs-toggle="dropdown" aria-label="Open user menu">
            <span class="avatar avatar-sm" style="background-image: url(/app/static/images/PUPLogo.png)"><svg class="w-8 h-8 rounded-full" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="currentColor" d="M12 4a4 4 0 0 1 4 4a4 4 0 0 1-4 4a4 4 0 0 1-4-4a4 4 0 0 1 4-4m0 2a2 2 0 0 0-2 2a2 2 0 0 0 2 2a2 2 0 0 0 2-2a2 2 0 0 0-2-2m0 7c2.67 0 8 1.33 8 4v3H4v-3c0-2.67 5.33-4 8-4m0 1.9c-2.97 0-6.1 1.46-6.1 2.1v1.1h12.2V17c0-.64-3.13-2.1-6.1-2.1Z"/></svg>
            </span>
            <div class="d-none d-xl-block ps-2">
                <div>{{current_user.User[0].FirstName}} {{current_user.User[0].LastName}}</div>
                <div class="mt-1 small text-secondary">{{current_user.Role.RoleName}}</div>
            </div>
        </a>
        <div class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
            <a href="" class="dropdown-item">Profile</a>
            <div class="dropdown-divider"></div>
            <a href="" class="dropdown-item">Change Password</a>
            <a href="{{url_for('admin.logout')}}" class="dropdown-item">Logout</a>
        </div>
    </div>
</nav>

