<p>Hi,</p>

<p>We're sorry to inform you that there was a problem creating/approving your account.</p>

<p>Here are some possible reasons why this might have happened:</p>

<p>Your email address is already associated with an existing account.</p>
<p>There was a problem with the email you provided.</p>
<p>There was a technical issue on our end.</p>

<p>Please try the following:</p>

<p>If you already have an account, please try logging in.</p>
<p>If you don't have an account, please make sure you have an existing account in PUPQC Faculty Information System.</p>
<p>If you're still having trouble, please contact us for assistance.</p>

<p>We apologize for any inconvenience this may have caused.</p>

<p>Sincerely,</p>
<p>The PUPQC-ESIS Team</p>