<!DOCTYPE html>

<html lang="en">
    <head>
        <meta name="viewport" content="initial-scale=1, width=device-width">
        <link href="{{url_for('static', filename='images/pupqc-esis.webp')}}" rel="icon" type="image/x-icon" />
        <!-- Tabler -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@tabler/core@1.0.0-beta17/dist/css/tabler.min.css">
        <!-- FontAwesome -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <!-- toastr -->
        <link href="https://cdn.jsdelivr.net/npm/toastr@2.1.4/build/toastr.min.css" rel="stylesheet">
        <!-- Google Font -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Paytone+One&display=swap" rel="stylesheet">

        {% if request.url != url_for('admin.adminLogin', _external=True) %}
        <!-- AdminLTE -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/admin-lte@3.2/dist/css/adminlte.min.css">
        {% endif %}
        {% block head %}
        
        {% endblock %}
        <style>
            ul.nav-sidebar a.nav-link.active {
                background-color: #800000!important;
            }

            ul.nav-treeview li.nav-item a.nav-link.active {
                background-color: #EAECED!important;
            }
        </style>
    </head>
    <body class="sidebar-mini layout-fixed layout-navbar-fixed bg-secondary-subtle">
        {% if current_user.is_authenticated %}
            {% include 'admin/components/sidebar.html' %}
            {% include 'admin/components/navbar.html' %}
            <div class="content-wrapper bg-transparent ">
        {% endif %}
        {% block content %}
    
        {% endblock %}
        {% if current_user.is_authenticated %}
            </div>
        {% endif %}
        <!-- Jquery -->
        <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
        <!-- Tabler -->
        <script src="https://cdn.jsdelivr.net/npm/@tabler/core@1.0.0-beta17/dist/js/tabler.min.js"></script>
        <!-- Iconify -->
        <script src="https://code.iconify.design/iconify-icon/1.0.7/iconify-icon.min.js"></script>
        <!-- Toastr -->
        <script src="https://cdn.jsdelivr.net/npm/toastr@2.1.4/build/toastr.min.js"></script>
        {% if request.url != url_for('admin.adminLogin', _external=True) %}
        <!-- AdminLTE -->
        <script src="https://cdn.jsdelivr.net/npm/admin-lte@3.2/dist/js/adminlte.min.js"></script>
        {% endif %}
        {% block script %}
        
        {% endblock %}
    
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    <script>
                        toastr.{{category}}("{{message|safe}}")
                    </script>
                {% endfor %}
            {% endif %}
        {% endwith %}
        <script>
            /*** add active class and stay opened when selected ***/
            var url = window.location;
            
            // for sidebar menu entirely but not cover treeview
            $('ul.nav-sidebar li.nav-item a.nav-link').filter(function() {
                if (this.href) {
                    return this.href == url || url.href.indexOf(this.href) == 0;
                }
            }).addClass('active');
            
            // for the treeview
            $('ul.nav-treeview li.nav-item a.nav-link').filter(function() {
                if (this.href) {
                    return this.href == url || url.href.indexOf(this.href) == 0;
                }
            }).parentsUntil(".nav-sidebar > .nav-treeview").prev('a').addClass('active');
        </script>
    </body>
</html>