{% extends 'admin/base.html' %}

{% block head %}
<title>Dashboard</title>
<script src="https://cdn.jsdelivr.net/npm/echarts@5.4.3/dist/echarts.min.js"></script>
{% endblock %}

{% block content %}
    <div class="container-xl mt-4">
        <h4 class="page title mb-4">Participants Growth in Extension Programs</h4>
        <div class="row">
            <div class="col-12 col-md-12">
                <div class="card p-3">
                    <div id="participants" style="width: 100%; height: 200px; margin-top: 20px"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-xl mt-4">
        <h4 class="page title mb-4">Projects Growth in Extension Programs</h4>
            <div class="row">
                <div class="col-12 col-md-12">
                    <div class="card p-3">
                        <div id="projects" style="width: 100%; height: 200px; margin-top: 20px"></div>
                    </div>
                </div>
            </div>
    </div>
    <div class="container-xl mt-4">
        <h4 class="page title mb-4">Average Participant Satisfaction Ratings in Extension Programs</h4>
        <div class="row">
            <div class="col-12 col-md-12">
                <div class="card p-3">
                    <div id="average-ratings" style="width: 100%; height: 200px; margin-top: 20px"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-xl mt-4">
        <h4 class="page title mb-4">Extension Projects Location Scope</h4>
        <div class="row">
            <div class="col-12 col-md-12">
                <div class="card p-3">
                    <div id="map-container" style="width: 100%; height: 400px; background-color: white; padding: 10px;">
                        {% include 'admin/qcmap.html' %}
                    </div>
                </div>
            </div>
        </div>
    </div>    
{% endblock %}

{% block script %}
<script type="text/javascript">
    var chartParticipants = document.getElementById('participants');
    var chartProjects = document.getElementById('projects');

    var myChartParticipants = echarts.init(chartParticipants);
    var myChartProjects = echarts.init(chartProjects);

    var optionParticipants;
    var optionProjects;

    var chartAverageRatings = document.getElementById('average-ratings');
    var myChartAverageRatings = echarts.init(chartAverageRatings);
    var optionAverageRatings;

    var rawDataParticipants = {{ data_for_chart_participants | safe }};
    var rawDataProjects = {{ data_for_chart_projects | safe }};
    var rawDataAverageRatings = {{ data_for_bar_graph | safe }};

    console.log("Raw Data Participants:", rawDataParticipants);
    console.log("Raw Data Projects:", rawDataProjects);

    function runParticipants(rawData) {
        optionParticipants = {
            tooltip: {
                trigger: 'axis'
            },
            grid: {
                left: '3%',   
                right: '4%', 
                bottom: '3%', 
                containLabel: true
            },
            legend: {
                data: Object.keys(rawData[0]).slice(1)
            },
            xAxis: {
                type: 'category',
                nameLocation: 'middle',
                data: rawData.map(function (item) {
                    return item.Year;
                })
            },
            yAxis: {
                type: 'value',
                name: 'Participants'
            },
            series: Object.keys(rawData[0]).slice(1).map(function (programName) {
                return {
                    name: programName,
                    type: 'line',
                    data: rawData.map(function (item) {
                        return item[programName];
                    })
                };
            })
        };

        console.log("Option Participants:", optionParticipants);

        myChartParticipants.setOption(optionParticipants);
    }

    function runProjects(rawData) {
        optionProjects = {
            tooltip: {
                trigger: 'axis'
            },
            grid: {
                left: '3%',
                right: '4%',
                bottom: '3%',
                containLabel: true
            },
            legend: {
                data: Object.keys(rawData[0]).slice(1)
            },
            xAxis: {
                type: 'category',
                nameLocation: 'middle',
                data: rawData.map(function (item) {
                    return item.Year;
                })
            },
            yAxis: {
                type: 'value',
                name: 'Projects'
            },
            series: Object.keys(rawData[0]).slice(1).map(function (programName) {
                return {
                    name: programName,
                    type: 'line',
                    smooth: true,
                    data: rawData.map(function (item) {
                        return item[programName];
                    })
                };
            })
        };

        console.log("Option Projects:", optionProjects);

        myChartProjects.setOption(optionProjects);
    }

    function runAverageRatings(rawData) {
        optionAverageRatings = {
            tooltip: {
                trigger: 'axis'
            },
            grid: {
                left: '3%',
                right: '4%',
                bottom: '3%',
                containLabel: true
            },
            legend: {
                data: rawData.map(function (item) {
                    return item.name;
                })
            },
            xAxis: [
                {
                    type: 'category',
                    nameLocation: 'middle',
                    data: rawData[0].data.map(function (item) {
                        return item.year;
                    })
                }
            ],
            yAxis: {
                type: 'value',
                name: 'Rating',
                max: 5, 
                min: 1, 
                interval: 1 
            },
            series: rawData.map(function (program) {
                return {
                    name: program.name,
                    type: 'bar',
                    data: program.data.map(function (item) {
                        return item.rating;
                    })
                };
            })
        };

        optionAverageRatings.xAxis[0].data = {{ sorted_years | tojson | safe }};
        console.log("Option Average Ratings:", optionAverageRatings);
        myChartAverageRatings.setOption(optionAverageRatings);
    }

    runParticipants(rawDataParticipants);
    runProjects(rawDataProjects);
    runAverageRatings(rawDataAverageRatings);
</script>
{% endblock %}
