{% extends 'admin/base.html' %}

{% block head %}
<title>Dashboard</title>
<script src="https://cdn.jsdelivr.net/npm/echarts@5.4.3/dist/echarts.min.js"></script>
{% endblock %}

{% block content %}
    <div>
        <div class="container-xl mt-4">
            <h6 class="page-title mb-4" style="font-size: 20px">Dashboard</h6>
            <div class="row g-2 ">
                {# include 'components/extension_counter.html' #}
                <div class="col-md-6">
                    <div class="card p-3">
                        <h5 class="page-title mb-4" style="font-size: 15px">Projects Growth in Extension Programs</h5>
                        <div id="projects" style="width: 100%; height: 220px; margin-top: 0px"></div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="card p-3">
                        <h6 class="page-title mb-4" style="font-size: 15px">Participants Growth in Extension Programs</h6>
                        <div id="participants" style="width: 100%; height: 220px; margin-top: 0px"></div>
                    </div>
                </div>
                <!-- Add this section for participant engagement in extension projects -->
                <div class="col-md-12">
                    <div class="card p-3">
                        <h5 class="page-title mb-4" style="font-size: 15px">Participant Engagement in Extension Projects</h5>
                        <div id="projects-engagement" style="width: 100%; height: 220px; margin-top: 0px"></div>
                    </div>
                </div>
                <!-- Add new section for participant engagement in extension programs -->
                <div class="col-md-12">
                    <div class="card p-3">
                        <h5 class="page-title mb-4" style="font-size: 15px">Participant Engagement in Extension Programs</h5>
                        <div id="programs-engagement" style="width: 100%; height: 220px; margin-top: 0px"></div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="card p-3">
                        <h5 class="page-title mb-4" style="font-size: 15px">Participant Satisfaction Ratings in Extension Programs</h5>
                        <div id="average-ratings" style="width: 100%; height: 220px; margin-top: 0px"></div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="card p-3">
                        <h5 class="page-title mb-2" style="font-size: 15px">Extension Projects Location Scope</h5>
                        <iframe src="{{ url_for('admin.qcmap') }}" width="100%" height="236px" frameborder="0"></iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block script %}
<script type="text/javascript">

    var myChartParticipants = echarts.init(document.getElementById('participants'));
    var myChartProjects = echarts.init(document.getElementById('projects'));
    // var myChartAverageRatings = echarts.init(document.getElementById('average-ratings'));

    var optionParticipants;
    var optionProjects;
    var optionAverageRatings;

    var rawDataParticipants = {{ data_for_chart_participants | safe }};
    var rawDataProjects = {{ data_for_chart_projects | safe }};
    // var rawDataAverageRatings = {# data_for_bar_graph | safe #};
    // var rawDataProjectsEngagement = {# last_5_months_projects_engagement | safe #};
    // var rawDataProgramsEngagement = {# last_5_months_programs_engagement | safe #};

    // console.log("Raw Data Participants:", rawDataParticipants);
    // console.log("Raw Data Projects:", rawDataProjects);
    // console.log("Raw Data Average Ratings:", rawDataAverageRatings);
    // console.log("Raw Data Projects Engagement:", rawDataProjectsEngagement);
    // console.log("Raw Data Programs Engagement:", rawDataProgramsEngagement);

    function runParticipants(rawData) {
        optionParticipants = {
            tooltip: {
                trigger: 'axis'
            },
            grid: {
                left: '3%',   
                right: '4%', 
                bottom: '3%', 
                containLabel: true
            },
            legend: {
                data: Object.keys(rawData[0]).slice(1),
                top: -6,
            },
            xAxis: {
                type: 'category',
                nameLocation: 'middle',
                data: rawData.map(function (item) {
                    return item.Year;
                })
            },
            yAxis: {
                type: 'value',
                name: 'Participants'
            },
            series: Object.keys(rawData[0]).slice(1).map(function (programName) {
                return {
                    name: programName,
                    type: 'line',
                    data: rawData.map(function (item) {
                        return item[programName];
                    })
                };
            })
        };

        console.log("Option Participants:", optionParticipants);

        myChartParticipants.setOption(optionParticipants);
    }

    function runProjects(rawData) {
        optionProjects = {
            tooltip: {
                trigger: 'axis'
            },
            grid: {
                left: '3%',
                right: '4%',
                bottom: '3%',
                containLabel: true
            },
            legend: {
                data: Object.keys(rawData[0]).slice(1),
                top: -6,
            },
            xAxis: {
                type: 'category',
                nameLocation: 'middle',
                data: rawData.map(function (item) {
                    return item.Year;
                })
            },
            yAxis: {
                type: 'value',
                name: 'Projects'
            },
            series: Object.keys(rawData[0]).slice(1).map(function (programName) {
                return {
                    name: programName,
                    type: 'line',
                    smooth: true,
                    data: rawData.map(function (item) {
                        return item[programName];
                    })
                };
            })
        };

        console.log("Option Projects:", optionProjects);

        myChartProjects.setOption(optionProjects);
    }

    runParticipants(rawDataParticipants);
    runProjects(rawDataProjects);
    // renderProjectsEngagementChart(rawDataProjectsEngagement);
    // renderProgramsEngagementChart(rawDataProgramsEngagement);
    // runAverageRatings(rawDataAverageRatings);
</script>
{% endblock %}
