<!DOCTYPE html>
<html>
<head>
    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.2.0/css/all.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_59ced77849673cf14ede3bb8df0fbb24 {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
                .leaflet-container { font-size: 1rem; }
            </style>
        
    <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/1.1.0/leaflet.markercluster.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/1.1.0/MarkerCluster.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/1.1.0/MarkerCluster.Default.css"/>
</head>
<body>
    
    
            <div class="folium-map" id="map_59ced77849673cf14ede3bb8df0fbb24" ></div>
        
</body>
<script>
    
    
            var map_59ced77849673cf14ede3bb8df0fbb24 = L.map(
                "map_59ced77849673cf14ede3bb8df0fbb24",
                {
                    center: [14.7011253, 121.0721637],
                    crs: L.CRS.EPSG3857,
                    zoom: 15,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_c19343d5daef1d757038f3524d928115 = L.tileLayer(
                "https://{s}.basemaps.cartocdn.com/dark_all/{z}/{x}/{y}{r}.png",
                {"attribution": "CartoDB.DarkMatter", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            );
        
    
            tile_layer_c19343d5daef1d757038f3524d928115.addTo(map_59ced77849673cf14ede3bb8df0fbb24);
        
    
            var tile_layer_e3d53280f18d790ec02d71130aded08f = L.tileLayer(
                "https://tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "\u0026copy; \u003ca href=\"https://www.openstreetmap.org/copyright\"\u003eOpenStreetMap\u003c/a\u003e contributors", "detectRetina": false, "maxNativeZoom": 19, "maxZoom": 19, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            );
        
    
            tile_layer_e3d53280f18d790ec02d71130aded08f.addTo(map_59ced77849673cf14ede3bb8df0fbb24);
        
    
            var marker_cluster_85eea9a6ce7d06f76e32edb795324746 = L.markerClusterGroup(
                {}
            );
        
    
            var circle_marker_412ac5bded913f9211221bcaae15f310 = L.circleMarker(
                [14.7121599, 121.0926815],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#3388ff", "fillOpacity": 0.7, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 135, "stroke": true, "weight": 3}
            ).addTo(marker_cluster_85eea9a6ce7d06f76e32edb795324746);
        
    
        var popup_5a12011de86600831cdb78151953c6c2 = L.popup({"maxWidth": 300});

        
            
                var html_c38644434709054d710248e0a3d31254 = $(`<div id="html_c38644434709054d710248e0a3d31254" style="width: 100.0%; height: 100.0%;">Location: Bagong Silangan<br>Projects: 27</div>`)[0];
                popup_5a12011de86600831cdb78151953c6c2.setContent(html_c38644434709054d710248e0a3d31254);
            
        

        circle_marker_412ac5bded913f9211221bcaae15f310.bindPopup(popup_5a12011de86600831cdb78151953c6c2)
        ;

        
    
    
            var circle_marker_80ca8ff476edb74d1ca457a43133a66d = L.circleMarker(
                [14.7011253, 121.0721637],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#3388ff", "fillOpacity": 0.7, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 65, "stroke": true, "weight": 3}
            ).addTo(marker_cluster_85eea9a6ce7d06f76e32edb795324746);
        
    
        var popup_e160e21049ddeb57b5bf88a132ad724c = L.popup({"maxWidth": 300});

        
            
                var html_6dd06f80d4b154540f9be761eda4a428 = $(`<div id="html_6dd06f80d4b154540f9be761eda4a428" style="width: 100.0%; height: 100.0%;">Location: Commonwealth<br>Projects: 13</div>`)[0];
                popup_e160e21049ddeb57b5bf88a132ad724c.setContent(html_6dd06f80d4b154540f9be761eda4a428);
            
        

        circle_marker_80ca8ff476edb74d1ca457a43133a66d.bindPopup(popup_e160e21049ddeb57b5bf88a132ad724c)
        ;

        
    
    
            var circle_marker_4917ba6fac01c35697edc6a71cdf1ca2 = L.circleMarker(
                [14.68218, 121.0872972],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#3388ff", "fillOpacity": 0.7, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 70, "stroke": true, "weight": 3}
            ).addTo(marker_cluster_85eea9a6ce7d06f76e32edb795324746);
        
    
        var popup_f3f3f1533713204ba4bc8c7e95db1d3f = L.popup({"maxWidth": 300});

        
            
                var html_15437cc54e3cd26b25e8ba56c0940202 = $(`<div id="html_15437cc54e3cd26b25e8ba56c0940202" style="width: 100.0%; height: 100.0%;">Location: Batasan Hills<br>Projects: 14</div>`)[0];
                popup_f3f3f1533713204ba4bc8c7e95db1d3f.setContent(html_15437cc54e3cd26b25e8ba56c0940202);
            
        

        circle_marker_4917ba6fac01c35697edc6a71cdf1ca2.bindPopup(popup_f3f3f1533713204ba4bc8c7e95db1d3f)
        ;

        
    
    
            var circle_marker_9a227ed27b7490fb4efa1fdb1236a042 = L.circleMarker(
                [14.6823669, 121.0679883],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#3388ff", "fillOpacity": 0.7, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 55, "stroke": true, "weight": 3}
            ).addTo(marker_cluster_85eea9a6ce7d06f76e32edb795324746);
        
    
        var popup_383312fa1c2421cf12a6103462ef3725 = L.popup({"maxWidth": 300});

        
            
                var html_358c0b669d621c55c16159e257a4f497 = $(`<div id="html_358c0b669d621c55c16159e257a4f497" style="width: 100.0%; height: 100.0%;">Location: Holy Spirit<br>Projects: 11</div>`)[0];
                popup_383312fa1c2421cf12a6103462ef3725.setContent(html_358c0b669d621c55c16159e257a4f497);
            
        

        circle_marker_9a227ed27b7490fb4efa1fdb1236a042.bindPopup(popup_383312fa1c2421cf12a6103462ef3725)
        ;

        
    
    
            var circle_marker_2fbce7801efd4bd62bf3a10727bba163 = L.circleMarker(
                [14.7096282, 121.0898405],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#3388ff", "fillOpacity": 0.7, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 20, "stroke": true, "weight": 3}
            ).addTo(marker_cluster_85eea9a6ce7d06f76e32edb795324746);
        
    
        var popup_d3bfe53e3b36e0445120765a85a843ef = L.popup({"maxWidth": 300});

        
            
                var html_48e29bcf4d935cfd4fb0964ad7739791 = $(`<div id="html_48e29bcf4d935cfd4fb0964ad7739791" style="width: 100.0%; height: 100.0%;">Location: Payatas<br>Projects: 4</div>`)[0];
                popup_d3bfe53e3b36e0445120765a85a843ef.setContent(html_48e29bcf4d935cfd4fb0964ad7739791);
            
        

        circle_marker_2fbce7801efd4bd62bf3a10727bba163.bindPopup(popup_d3bfe53e3b36e0445120765a85a843ef)
        ;

        
    
    
            marker_cluster_85eea9a6ce7d06f76e32edb795324746.addTo(map_59ced77849673cf14ede3bb8df0fbb24);
        
    
            var layer_control_332fa8372f1634aea45072f35d1d7bd3_layers = {
                base_layers : {
                    "CartoDB.DarkMatter" : tile_layer_c19343d5daef1d757038f3524d928115,
                    "openstreetmap" : tile_layer_e3d53280f18d790ec02d71130aded08f,
                },
                overlays :  {
                    "macro_element_85eea9a6ce7d06f76e32edb795324746" : marker_cluster_85eea9a6ce7d06f76e32edb795324746,
                },
            };
            let layer_control_332fa8372f1634aea45072f35d1d7bd3 = L.control.layers(
                layer_control_332fa8372f1634aea45072f35d1d7bd3_layers.base_layers,
                layer_control_332fa8372f1634aea45072f35d1d7bd3_layers.overlays,
                {"autoZIndex": true, "collapsed": true, "position": "topright"}
            ).addTo(map_59ced77849673cf14ede3bb8df0fbb24);

        
</script>
</html>