<!DOCTYPE html>
<html>
<head>
    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.2.0/css/all.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_534234fc9bcb14a28fa5ba15570044d4 {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
                .leaflet-container { font-size: 1rem; }
            </style>
        
    <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/1.1.0/leaflet.markercluster.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/1.1.0/MarkerCluster.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/1.1.0/MarkerCluster.Default.css"/>
</head>
<body>
    
    
            <div class="folium-map" id="map_534234fc9bcb14a28fa5ba15570044d4" ></div>
        
</body>
<script>
    
    
            var map_534234fc9bcb14a28fa5ba15570044d4 = L.map(
                "map_534234fc9bcb14a28fa5ba15570044d4",
                {
                    center: [14.7011253, 121.0721637],
                    crs: L.CRS.EPSG3857,
                    zoom: 15,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_9fa7f56d4a5ff39071b71d5f5b8634f2 = L.tileLayer(
                "https://{s}.basemaps.cartocdn.com/dark_all/{z}/{x}/{y}{r}.png",
                {"attribution": "CartoDB.DarkMatter", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            );
        
    
            tile_layer_9fa7f56d4a5ff39071b71d5f5b8634f2.addTo(map_534234fc9bcb14a28fa5ba15570044d4);
        
    
            var tile_layer_1857800c72450bf4878e39fd3210e2a0 = L.tileLayer(
                "https://tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "\u0026copy; \u003ca href=\"https://www.openstreetmap.org/copyright\"\u003eOpenStreetMap\u003c/a\u003e contributors", "detectRetina": false, "maxNativeZoom": 19, "maxZoom": 19, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            );
        
    
            tile_layer_1857800c72450bf4878e39fd3210e2a0.addTo(map_534234fc9bcb14a28fa5ba15570044d4);
        
    
            var marker_cluster_1c38b569f01113a2f983841cb738c99a = L.markerClusterGroup(
                {}
            );
        
    
            var circle_marker_cc6f5af64fcd4c34ba0f93673ef93100 = L.circleMarker(
                [14.7121599, 121.0926815],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#3388ff", "fillOpacity": 0.7, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 180, "stroke": true, "weight": 3}
            ).addTo(marker_cluster_1c38b569f01113a2f983841cb738c99a);
        
    
        var popup_9410b86a4a4d032107aca2a5d431490a = L.popup({"maxWidth": 300});

        
            
                var html_6b3f66a1bd6f95636f3ad5082a16cbd0 = $(`<div id="html_6b3f66a1bd6f95636f3ad5082a16cbd0" style="width: 100.0%; height: 100.0%;">Location: Bagong Silangan<br>Projects: 36</div>`)[0];
                popup_9410b86a4a4d032107aca2a5d431490a.setContent(html_6b3f66a1bd6f95636f3ad5082a16cbd0);
            
        

        circle_marker_cc6f5af64fcd4c34ba0f93673ef93100.bindPopup(popup_9410b86a4a4d032107aca2a5d431490a)
        ;

        
    
    
            var circle_marker_a52b96ce2a374363cf04260c6ba873e2 = L.circleMarker(
                [14.7011253, 121.0721637],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#3388ff", "fillOpacity": 0.7, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 235, "stroke": true, "weight": 3}
            ).addTo(marker_cluster_1c38b569f01113a2f983841cb738c99a);
        
    
        var popup_b5f27697d0ae2cfc91cbbfea3c5adf33 = L.popup({"maxWidth": 300});

        
            
                var html_bdd76c6de0b9bce4ea83ca561877cecd = $(`<div id="html_bdd76c6de0b9bce4ea83ca561877cecd" style="width: 100.0%; height: 100.0%;">Location: Commonwealth<br>Projects: 47</div>`)[0];
                popup_b5f27697d0ae2cfc91cbbfea3c5adf33.setContent(html_bdd76c6de0b9bce4ea83ca561877cecd);
            
        

        circle_marker_a52b96ce2a374363cf04260c6ba873e2.bindPopup(popup_b5f27697d0ae2cfc91cbbfea3c5adf33)
        ;

        
    
    
            var circle_marker_879a564f2eaff63c1b915227bf9fac15 = L.circleMarker(
                [14.68218, 121.0872972],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#3388ff", "fillOpacity": 0.7, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 160, "stroke": true, "weight": 3}
            ).addTo(marker_cluster_1c38b569f01113a2f983841cb738c99a);
        
    
        var popup_842d48a90a382f3bed6ad459847859ec = L.popup({"maxWidth": 300});

        
            
                var html_9ea036d9219d661f2930d297df8b0824 = $(`<div id="html_9ea036d9219d661f2930d297df8b0824" style="width: 100.0%; height: 100.0%;">Location: Batasan Hills<br>Projects: 32</div>`)[0];
                popup_842d48a90a382f3bed6ad459847859ec.setContent(html_9ea036d9219d661f2930d297df8b0824);
            
        

        circle_marker_879a564f2eaff63c1b915227bf9fac15.bindPopup(popup_842d48a90a382f3bed6ad459847859ec)
        ;

        
    
    
            var circle_marker_4e33d17d96212c22e9333e1585878453 = L.circleMarker(
                [14.6823669, 121.0679883],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#3388ff", "fillOpacity": 0.7, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 150, "stroke": true, "weight": 3}
            ).addTo(marker_cluster_1c38b569f01113a2f983841cb738c99a);
        
    
        var popup_61e57687d47d42e601a5d43d084d2c7b = L.popup({"maxWidth": 300});

        
            
                var html_479f1d87d87410fb458aae26b5f06a86 = $(`<div id="html_479f1d87d87410fb458aae26b5f06a86" style="width: 100.0%; height: 100.0%;">Location: Holy Spirit<br>Projects: 30</div>`)[0];
                popup_61e57687d47d42e601a5d43d084d2c7b.setContent(html_479f1d87d87410fb458aae26b5f06a86);
            
        

        circle_marker_4e33d17d96212c22e9333e1585878453.bindPopup(popup_61e57687d47d42e601a5d43d084d2c7b)
        ;

        
    
    
            marker_cluster_1c38b569f01113a2f983841cb738c99a.addTo(map_534234fc9bcb14a28fa5ba15570044d4);
        
    
            var layer_control_8520a6f83d41badc55b975b7b4ce77f8_layers = {
                base_layers : {
                    "CartoDB.DarkMatter" : tile_layer_9fa7f56d4a5ff39071b71d5f5b8634f2,
                    "openstreetmap" : tile_layer_1857800c72450bf4878e39fd3210e2a0,
                },
                overlays :  {
                    "macro_element_1c38b569f01113a2f983841cb738c99a" : marker_cluster_1c38b569f01113a2f983841cb738c99a,
                },
            };
            let layer_control_8520a6f83d41badc55b975b7b4ce77f8 = L.control.layers(
                layer_control_8520a6f83d41badc55b975b7b4ce77f8_layers.base_layers,
                layer_control_8520a6f83d41badc55b975b7b4ce77f8_layers.overlays,
                {"autoZIndex": true, "collapsed": true, "position": "topright"}
            ).addTo(map_534234fc9bcb14a28fa5ba15570044d4);

        
</script>
</html>