<!DOCTYPE html>
<html>
<head>
    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.2.0/css/all.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_cb69977d50918df8ef2d37bdf817d35f {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
                .leaflet-container { font-size: 1rem; }
            </style>
        
    <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/1.1.0/leaflet.markercluster.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/1.1.0/MarkerCluster.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/1.1.0/MarkerCluster.Default.css"/>
</head>
<body>
    
    
            <div class="folium-map" id="map_cb69977d50918df8ef2d37bdf817d35f" ></div>
        
</body>
<script>
    
    
            var map_cb69977d50918df8ef2d37bdf817d35f = L.map(
                "map_cb69977d50918df8ef2d37bdf817d35f",
                {
                    center: [14.7011253, 121.0721637],
                    crs: L.CRS.EPSG3857,
                    zoom: 15,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_f7af895b7ee964cff3437a8f5faa03f2 = L.tileLayer(
                "https://{s}.basemaps.cartocdn.com/dark_all/{z}/{x}/{y}{r}.png",
                {"attribution": "CartoDB.DarkMatter", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            );
        
    
            tile_layer_f7af895b7ee964cff3437a8f5faa03f2.addTo(map_cb69977d50918df8ef2d37bdf817d35f);
        
    
            var tile_layer_896dfc3e1bc2708aba781661e44c7514 = L.tileLayer(
                "https://tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "\u0026copy; \u003ca href=\"https://www.openstreetmap.org/copyright\"\u003eOpenStreetMap\u003c/a\u003e contributors", "detectRetina": false, "maxNativeZoom": 19, "maxZoom": 19, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            );
        
    
            tile_layer_896dfc3e1bc2708aba781661e44c7514.addTo(map_cb69977d50918df8ef2d37bdf817d35f);
        
    
            var marker_cluster_87edfcab853c6ed9d7a6ba50a61dba5a = L.markerClusterGroup(
                {}
            );
        
    
            var circle_marker_b136426d0f29941d2f81fd1fc47812d3 = L.circleMarker(
                [14.7121599, 121.0926815],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#3388ff", "fillOpacity": 0.7, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 25, "stroke": true, "weight": 3}
            ).addTo(marker_cluster_87edfcab853c6ed9d7a6ba50a61dba5a);
        
    
        var popup_36508e1dd1a04a3a5742e9c5efd9cc10 = L.popup({"maxWidth": 300});

        
            
                var html_28fdb0337097bcaa0cdb9496bf42020b = $(`<div id="html_28fdb0337097bcaa0cdb9496bf42020b" style="width: 100.0%; height: 100.0%;">Location: Bagong Silangan<br>Projects: 5</div>`)[0];
                popup_36508e1dd1a04a3a5742e9c5efd9cc10.setContent(html_28fdb0337097bcaa0cdb9496bf42020b);
            
        

        circle_marker_b136426d0f29941d2f81fd1fc47812d3.bindPopup(popup_36508e1dd1a04a3a5742e9c5efd9cc10)
        ;

        
    
    
            var circle_marker_3a03805086aa3fb4a3ebcb5d30475812 = L.circleMarker(
                [14.7011253, 121.0721637],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#3388ff", "fillOpacity": 0.7, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 5, "stroke": true, "weight": 3}
            ).addTo(marker_cluster_87edfcab853c6ed9d7a6ba50a61dba5a);
        
    
        var popup_5d5a106d5dbc680047e8f31158f466a8 = L.popup({"maxWidth": 300});

        
            
                var html_77e7c5d5dce1d53f6500329fb324afa3 = $(`<div id="html_77e7c5d5dce1d53f6500329fb324afa3" style="width: 100.0%; height: 100.0%;">Location: Commonwealth<br>Projects: 1</div>`)[0];
                popup_5d5a106d5dbc680047e8f31158f466a8.setContent(html_77e7c5d5dce1d53f6500329fb324afa3);
            
        

        circle_marker_3a03805086aa3fb4a3ebcb5d30475812.bindPopup(popup_5d5a106d5dbc680047e8f31158f466a8)
        ;

        
    
    
            var circle_marker_64278578c89e0e916a0654aea67bd6e6 = L.circleMarker(
                [14.6823669, 121.0679883],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#3388ff", "fillOpacity": 0.7, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 5, "stroke": true, "weight": 3}
            ).addTo(marker_cluster_87edfcab853c6ed9d7a6ba50a61dba5a);
        
    
        var popup_a535ed15484bdca5e31eddd7addd4d7e = L.popup({"maxWidth": 300});

        
            
                var html_83d3b33eda863656bc37f6596ead88b1 = $(`<div id="html_83d3b33eda863656bc37f6596ead88b1" style="width: 100.0%; height: 100.0%;">Location: Holy Spirit<br>Projects: 1</div>`)[0];
                popup_a535ed15484bdca5e31eddd7addd4d7e.setContent(html_83d3b33eda863656bc37f6596ead88b1);
            
        

        circle_marker_64278578c89e0e916a0654aea67bd6e6.bindPopup(popup_a535ed15484bdca5e31eddd7addd4d7e)
        ;

        
    
    
            marker_cluster_87edfcab853c6ed9d7a6ba50a61dba5a.addTo(map_cb69977d50918df8ef2d37bdf817d35f);
        
    
            var layer_control_a2fa0996b26d3fb4536c6ad5bbedc7be_layers = {
                base_layers : {
                    "CartoDB.DarkMatter" : tile_layer_f7af895b7ee964cff3437a8f5faa03f2,
                    "openstreetmap" : tile_layer_896dfc3e1bc2708aba781661e44c7514,
                },
                overlays :  {
                    "macro_element_87edfcab853c6ed9d7a6ba50a61dba5a" : marker_cluster_87edfcab853c6ed9d7a6ba50a61dba5a,
                },
            };
            let layer_control_a2fa0996b26d3fb4536c6ad5bbedc7be = L.control.layers(
                layer_control_a2fa0996b26d3fb4536c6ad5bbedc7be_layers.base_layers,
                layer_control_a2fa0996b26d3fb4536c6ad5bbedc7be_layers.overlays,
                {"autoZIndex": true, "collapsed": true, "position": "topright"}
            ).addTo(map_cb69977d50918df8ef2d37bdf817d35f);

        
</script>
</html>