{% extends 'admin/base.html' %}

{% block head %}
    <title>PUPQC-ESIS Speakers</title>
    <!--Regular Datatables CSS-->
	<link href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" rel="stylesheet">
	<!--Responsive Extension Datatables CSS-->
	<link href="https://cdn.datatables.net/responsive/2.2.3/css/responsive.dataTables.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/table_style.css') }}">  
{% endblock %}

{% block content %}
<!--Container-->
<div class="container w-100 mx-auto p-3">
    <!--Title-->
    <h1 class="d-flex align-items-center justify-content-between fw-semibold px-2 py-4 fs-1">
        <span>Speakers</span>
        <a href="#" class="btn btn-primary d-none d-sm-inline-block" data-bs-toggle="modal" data-bs-target="#modal-speaker">
            <!-- Download SVG icon from http://tabler-icons.io/i/plus -->
            <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path d="M12 5l0 14"></path><path d="M5 12l14 0"></path></svg>
            Create speaker
        </a>
    </h1>
    <!--Card-->
    <div class="p-3 mt-3 rounded shadow bg-white">
        <table id="speakers" class="stripe hover" style="width:100%; padding-top: 1em;  padding-bottom: 1em;">
            <thead>
                <tr>
                    <th class="text-start">First Name</th>
                    <th class="text-start">Middle Name</th>
                    <th class="text-start">Last Name</th>
                    <th class="text-start">Email</th>
                    <th class="text-start">Contact Details</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for speaker in speakers %}
                <tr>
                    <td>{{ speaker.FirstName }}</td>
                    <td>{{ speaker.MiddleName if speaker.MiddleName else 'N/A' }}</td>
                    <td>{{ speaker.LastName }}</td>
                    <td>{{ speaker.Email }}</td>
                    <td>{{ speaker.ContactDetails }}</td>
                    <td class="d-flex align-items-center">
                        <a href="#" class="text-primary me-2" data-bs-toggle="modal" data-bs-target="#edit-speaker-{{speaker.SpeakerId}}">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="currentColor" d="m7 17.013l4.413-.015l9.632-9.54c.378-.378.586-.88.586-1.414s-.208-1.036-.586-1.414l-1.586-1.586c-.756-.756-2.075-.752-2.825-.003L7 12.583zM18.045 4.458l1.589 1.583l-1.597 1.582l-1.586-1.585zM9 13.417l6.03-5.973l1.586 1.586l-6.029 5.971L9 15.006z"/><path fill="currentColor" d="M5 21h14c1.103 0 2-.897 2-2v-8.668l-2 2V19H8.158c-.026 0-.053.01-.079.01c-.033 0-.066-.009-.1-.01H5V5h6.847l2-2H5c-1.103 0-2 .897-2 2v14c0 1.103.897 2 2 2"/></svg>
                        </a>
                        <a href="#" class="text-danger" data-bs-toggle="modal" data-bs-target="#deleteModal{{speaker.SpeakerId}}">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 256 256"><path fill="currentColor" d="M216 48h-36V36a28 28 0 0 0-28-28h-48a28 28 0 0 0-28 28v12H40a12 12 0 0 0 0 24h4v136a20 20 0 0 0 20 20h128a20 20 0 0 0 20-20V72h4a12 12 0 0 0 0-24M100 36a4 4 0 0 1 4-4h48a4 4 0 0 1 4 4v12h-56Zm88 168H68V72h120Zm-72-100v64a12 12 0 0 1-24 0v-64a12 12 0 0 1 24 0m48 0v64a12 12 0 0 1-24 0v-64a12 12 0 0 1 24 0"/></svg>
                        </a>
                    </td>
                    {% include 'admin/edit_speaker.html' %}
                    {% include 'admin/delete_speaker.html' %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <!--/Card-->
</div>
<!--/container-->
<div class="modal modal-blur fade" id="modal-speaker" tabindex="-1" style="display: none;" aria-hidden="true">
<div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
    <div class="modal-header">
        <h5 class="modal-title">New speaker</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>
    <form action="{{url_for('admin.createSpeaker')}}" method="post" enctype="multipart/form-data">
    {{form.hidden_tag()}}
    <div class="modal-body">
        <div class="row">
            <div class="col-12 col-md-4">
                <div class="mb-3">
                    {{form.first_name.label(class="form-label")}}
                    {{form.first_name(class="form-control")}}
                </div>
            </div>
            <div class="col-12 col-md-4">
                <div class="mb-3">
                    {{form.middle_name.label(class="form-label")}}
                    {{form.middle_name(class="form-control")}}
                </div>
            </div>
            <div class="col-12 col-md-4">
                <div>
                    {{form.last_name.label(class="form-label")}}
                    {{form.last_name(class="form-control", required="required")}}
                </div>
            </div>
            <div class="col-12 col-md-6">
                <div>
                    {{form.email.label(class="form-label")}}
                    {{form.email(class="form-control", required="required")}}
                </div>
            </div>
            <div class="col-12 col-md-6">
                <div>
                    {{form.contact_details.label(class="form-label")}}
                    {{form.contact_details(class="form-control", required="required")}}
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <a href="#" class="btn btn-link link-secondary" data-bs-dismiss="modal">
        Cancel
        </a>
        <button type="submit" class="btn btn-primary ms-auto">
        <!-- Download SVG icon from http://tabler-icons.io/i/plus -->
        <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path d="M12 5l0 14"></path><path d="M5 12l14 0"></path></svg>
        Create speaker
        </button>
    </div>
    </form>
    </div>
</div>
</div>
{% endblock %}

{% block script %}
	<!--Datatables -->
	<script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
	<script src="https://cdn.datatables.net/responsive/2.2.3/js/dataTables.responsive.min.js"></script>
    <script>
        $(document).ready(function() {

        var table = $('#speakers').DataTable({
                responsive: true,
                "columns": [
                    null,
                    null,
                    null,
                    null,
                    null,
                    { "width": "10%" },
                ]
            })
            .responsive.recalc()
        });
    </script>
{% endblock %}