{% extends 'admin/base.html' %}

{% block head %}
    <title>PUPQC-ESIS {% if current_url_path == url_for('admin.beneficiaries') %}
        Beneficiaries
    {% elif current_url_path == url_for('admin.students') %}
        Students
    {% else %}
        Faculty
    {% endif %}</title>
    <!--Regular Datatables CSS-->
	<link href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" rel="stylesheet">
	<!--Responsive Extension Datatables CSS-->
	<link href="https://cdn.datatables.net/responsive/2.2.3/css/responsive.dataTables.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/table_style.css') }}">  
{% endblock %}

{% block content %}
        <!--Container-->
        <div class="container w-100 mx-auto p-3">
            <!--Title-->
            <h1 class="d-flex align-items-center fw-semibold px-2 py-4 fs-1">
                {% if current_url_path == url_for('admin.beneficiaries') %}
                    Beneficiaries
                {% elif current_url_path == url_for('admin.students') %}
                    Students
                {% else %}
                    Faculty
                {% endif %}
                Record
            </h1>
            <!--Card-->
            <div class="p-3 mt-3 rounded shadow bg-white">
                <table id="users" class="stripe hover" style="width:100%; padding-top: 1em;  padding-bottom: 1em;">
                    <thead>
                        <tr>
                            <th data-priority="1" class="text-start">First Name</th>
                            <th data-priority="2" class="text-start">Middle Name</th>
                            <th data-priority="3" class="text-start">Last Name</th>
                            <th data-priority="4" class="text-start">Email</th>
                            {% if current_url_path == url_for('admin.faculty') %}
                            <th data-priority="4" class="text-start">Role</th>
                            {% endif %}
                            <th data-priority="5" class="text-start">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% if current_url_path == url_for('admin.faculty') or current_url_path == url_for('admin.students') %}
                        {% for user in users %}
                        <tr>
                            {% if user.RoleId == 3 %}
                            <td>{{ user.Student.FirstName }}</td>
                            <td>{{ user.Student.MiddleName if user.Student.MiddleName else 'N/A' }}</td>
                            <td>{{ user.Student.LastName }}</td>
                            <td>{{ user.Student.Email }}</td>
                            <td><a href="{{ url_for('admin.viewStudent', id=user.Student.StudentNumber) }}" class="btn btn-primary">View</a></td>
                            {% else %}
                            <td>{{ user.Faculty.FirstName }}</td>
                            <td>{{ user.Faculty.MiddleName if user.Faculty.MiddleName else 'N/A' }}</td>
                            <td>{{ user.Faculty.LastName }}</td>
                            <td>{{ user.Faculty.Email }}</td>
                            <td>
                                <form id="form-{{user.UserId}}" action="{{url_for('admin.changeUserRole', id=user.UserId)}}" method="post">
                                    <input type="hidden" name="csrf_token" value="{{csrf_token()}}">
                                    <select name="{{form.role.name}}" id="{{form.role.id}}-{{user.UserId}}" class="form-select">
                                        {% for option in form.role.choices %}
                                        <option value="{{option[0]}}" {{'selected' if option[0]|int == user.RoleId}}>{{option[1]}}</option>
                                        {% endfor %}
                                    </select>
                                </form>
                            </td>
                            <td><a href="{{ url_for('admin.viewFaculty', id=user.Faculty.FacultyId) }}" class="btn btn-primary">View</a></td>
                            {% endif %}
                        </tr>
                        {% endfor %}
                        {% else %}
                        {% for user in users %}
                        <tr>
                            <td>{{ user.FirstName }}</td>
                            <td>{{ user.MiddleName if user.MiddleName else 'N/A' }}</td>
                            <td>{{ user.LastName }}</td>
                            <td>{{ user.Email }}</td>
                            <td><a href="{{ url_for('admin.viewBeneficiary', id=user.BeneficiaryId) }}" class="btn btn-primary">View</a></td>
                        </tr> 
                        {% endfor %}
                        {% endif %}

                    </tbody>
                </table>
            </div>
            <!--/Card-->
        </div>

<div class="modal modal-blur fade" id="role-modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-sm modal-dialog-centered" role="document">
        <div class="modal-content">
        <div class="modal-body">
            Are you sure you want to change the role of this user?
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-link link-secondary me-auto" data-bs-dismiss="modal">Cancel</button>
            <button type="button" id="submit-btn" class="btn btn-primary" data-bs-dismiss="modal">Save</button>
        </div>
        </div>
    </div>
</div>
{% endblock %}

{% block script %}
	<!--Datatables -->
	<script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
	<script src="https://cdn.datatables.net/responsive/2.2.3/js/dataTables.responsive.min.js"></script>
    <script>
        $(document).ready(function() {
            var table = $('#users').DataTable({
                    responsive: true
                })
                .columns.adjust()
                .responsive.recalc()

            });
            
            $('select.form-select').on('change', function() {
                // Find the nearest form
                var form = $(this).closest('form');
                console.log(form)
                console.log('hello')

                // Show the modal
                $('#role-modal').attr('aria-modal', true);
                $('#role-modal').removeAttr('aria-hidden');
                $('#role-modal').addClass('show');
                $('#role-modal').show();

                // Handle save button click within the modal
                $('#submit-btn').click(function() {
                    $('#role-modal').attr('aria-hidden', true);
                    $('#role-modal').removeAttr('aria-modal');
                    $('#role-modal').removeClass('show');
                    form.submit();
                });

                // Handle cancel button click within the modal
                $('#role-modal .btn-link').click(function() {
                    $('#role-modal').attr('aria-hidden', true);
                    $('#role-modal').removeAttr('aria-modal');
                    $('#role-modal').removeClass('show');
                });
            });
        
    </script>
{% endblock %}