{% if current_user.RoleId in [2, 3] %}
{% extends 'base.html' %}
{% else %}
{% extends 'admin/base.html' %}
{% endif %}
{% block head %}
    <title>Profile - PUPQC-ESIS</title>
    <!--Regular Datatables CSS-->
    <link href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" rel="stylesheet">
    <!--Responsive Extension Datatables CSS-->
    <link href="https://cdn.datatables.net/responsive/2.2.3/css/responsive.dataTables.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/table_style.css') }}">  
{% endblock %}
{% block content %}
<div class="my-4">
    <div class="container-xl">
        <h2 class="page-title mb-3">Personal Data</h2>
        <div class="card">
            <div class="card-header">
                <h3 class="card-title text-uppercase text-danger fw-bolder">
                    {% if current_user.RoleId == 2 %}
                    {{current_user.Beneficiary.LastName}}, {{current_user.Beneficiary.FirstName}} {{current_user.Beneficiary.MiddleName if current_user.Beneficiary.MiddleName}}
                    {% elif current_user.RoleId == 3 %}
                    {{current_user.Student.LastName}}, {{current_user.Student.FirstName}} {{current_user.Student.MiddleName if current_user.Student.MiddleName}}
                    {% else %}
                    {{current_user.Faculty.LastName}}, {{current_user.Faculty.FirstName}} {{current_user.Faculty.MiddleName if current_user.Faculty.MiddleName}}
                    {% endif %}
                </h3>
            </div>
            <div class="card-body">
                <div class="row gy-2">
                    <div class="col-12 col-md-3 datagrid-item">
                        <div class="datagrid-title">ID</div>
                    </div>
                    <div class="col-12 col-md-9 datagrid-item">
                        <div class="datagrid-content fw-bold">
                            {% if current_user.RoleId == 2 %}
                            {{current_user.BeneficiaryId}}
                            {% elif current_user.RoleId == 3 %}
                            {{current_user.StudentId}}
                            {% else %}
                            {{current_user.FacultyId}}
                            {% endif %}
                        </div>
                    </div>
                    <div class="col-12 col-md-3 datagrid-item">
                        <div class="datagrid-title">Name</div>
                    </div>
                    <div class="col-12 col-md-9 datagrid-item">
                        <div class="datagrid-content fw-bold text-uppercase ">
                            {% if current_user.RoleId == 2 %}
                            {{current_user.Beneficiary.LastName}}, {{current_user.Beneficiary.FirstName}} {{current_user.Beneficiary.MiddleName if current_user.Beneficiary.MiddleName}}
                            {% elif current_user.RoleId == 3 %}
                            {{current_user.Student.LastName}}, {{current_user.Student.FirstName}} {{current_user.Student.MiddleName if current_user.Student.MiddleName}}
                            {% else %}
                            {{current_user.Faculty.LastName}}, {{current_user.Faculty.FirstName}} {{current_user.Faculty.MiddleName if current_user.Faculty.MiddleName}}
                            {% endif %}
                        </div>
                    </div>
                    <div class="col-12 col-md-3 datagrid-item">
                        <div class="datagrid-title">Gender</div>
                    </div>
                    <div class="col-12 col-md-9 datagrid-item">
                        <div class="datagrid-content fw-bold">
                            {% if current_user.RoleId == 2 %}
                            {% set gender = current_user.Beneficiary.Gender%}
                            {% elif current_user.RoleId == 3 %}
                            {% set gender = current_user.Student.Gender%}
                            {% else %}
                            {% set gender = current_user.Faculty.Gender%}
                            {% endif %}

                            {% if gender == 1%}
                            Male
                            {% elif gender == 2%}
                            Female
                            {% else %}
                            Others
                            {% endif%}
                        </div>
                    </div>
                    <div class="col-12 col-md-3 datagrid-item">
                        <div class="datagrid-title">Date of Birth</div>
                    </div>
                    <div class="col-12 col-md-9 datagrid-item">
                        <div class="datagrid-content fw-bold">
                            {% if current_user.RoleId == 2 %}
                            {{current_user.Beneficiary.DateOfBirth.strftime('%m/%d/%Y')}}
                            {% elif current_user.RoleId == 3 %}
                            {{current_user.Student.DateOfBirth.strftime('%m/%d/%Y') if current_user.Student.DateOfBirth else 'N/A'}}
                            {% else %}
                            {{current_user.Faculty.BirthDate.strftime('%m/%d/%Y')}}
                            {% endif %}
                        </div>
                    </div>
                    <div class="col-12 col-md-3 datagrid-item">
                        <div class="datagrid-title">Contact Details</div>
                    </div>
                    <div class="col-12 col-md-9 datagrid-item">
                        <div class="datagrid-content fw-bold">
                            {% if current_user.RoleId == 2 %}
                            {{current_user.Beneficiary.MobileNumber}}
                            {% elif current_user.RoleId == 3 %}
                            {{current_user.Student.MobileNumber}}
                            {% else %}
                            {{current_user.Faculty.MobileNumber}}
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block script %}
<!--Datatables -->
<script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/responsive/2.2.3/js/dataTables.responsive.min.js"></script>
<script>
    document.addEventListener("DOMContentLoaded", function() {
        var table = $('#projects').DataTable({
                responsive: true,
                "columns": [
                    null,
                    null,
                    { "width": "10%" },
                    { "width": "20%" },
                ]
        })
    });
</script>
{% endblock %}

