<!DOCTYPE html>
<html>
<head>
    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.2.0/css/all.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_68900c4542fbb603567e33dfd0a61769 {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
                .leaflet-container { font-size: 1rem; }
            </style>
        
</head>
<body>
    
    
            <div class="folium-map" id="map_68900c4542fbb603567e33dfd0a61769" ></div>
        
</body>
<script>
    
    
            var map_68900c4542fbb603567e33dfd0a61769 = L.map(
                "map_68900c4542fbb603567e33dfd0a61769",
                {
                    center: [14.7121599, 121.0926815],
                    crs: L.CRS.EPSG3857,
                    zoom: 15,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_c5a78c6f83f14d742fe520761a3ed8a3 = L.tileLayer(
                "https://{s}.basemaps.cartocdn.com/dark_all/{z}/{x}/{y}{r}.png",
                {"attribution": "CartoDB.DarkMatter", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            );
        
    
            tile_layer_c5a78c6f83f14d742fe520761a3ed8a3.addTo(map_68900c4542fbb603567e33dfd0a61769);
        
    
            var tile_layer_c5db7f24f60f149dff93d264bf6accf3 = L.tileLayer(
                "https://tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "\u0026copy; \u003ca href=\"https://www.openstreetmap.org/copyright\"\u003eOpenStreetMap\u003c/a\u003e contributors", "detectRetina": false, "maxNativeZoom": 19, "maxZoom": 19, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            );
        
    
            tile_layer_c5db7f24f60f149dff93d264bf6accf3.addTo(map_68900c4542fbb603567e33dfd0a61769);
        
    
            var layer_control_976da1c17d58d75bd991c36c7e95ff6f_layers = {
                base_layers : {
                    "CartoDB.DarkMatter" : tile_layer_c5a78c6f83f14d742fe520761a3ed8a3,
                    "openstreetmap" : tile_layer_c5db7f24f60f149dff93d264bf6accf3,
                },
                overlays :  {
                },
            };
            let layer_control_976da1c17d58d75bd991c36c7e95ff6f = L.control.layers(
                layer_control_976da1c17d58d75bd991c36c7e95ff6f_layers.base_layers,
                layer_control_976da1c17d58d75bd991c36c7e95ff6f_layers.overlays,
                {"autoZIndex": true, "collapsed": true, "position": "topright"}
            ).addTo(map_68900c4542fbb603567e33dfd0a61769);

        
    
            var marker_a69d35e85007fd8a57f3429374da6b0f = L.marker(
                [14.7121599, 121.0926815],
                {}
            ).addTo(map_68900c4542fbb603567e33dfd0a61769);
        
    
            var icon_7565c9549c13247c51d85a07a2e9788e = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_a69d35e85007fd8a57f3429374da6b0f.setIcon(icon_7565c9549c13247c51d85a07a2e9788e);
        
    
        var popup_2e095870baa0e9fe6af7391f9c216785 = L.popup({"maxWidth": 300});

        
            
                var html_bb76a90bf38445f48ae301f00f7c9227 = $(`<div id="html_bb76a90bf38445f48ae301f00f7c9227" style="width: 100.0%; height: 100.0%;">Activity Location: Bagong Silangan</div>`)[0];
                popup_2e095870baa0e9fe6af7391f9c216785.setContent(html_bb76a90bf38445f48ae301f00f7c9227);
            
        

        marker_a69d35e85007fd8a57f3429374da6b0f.bindPopup(popup_2e095870baa0e9fe6af7391f9c216785)
        ;

        
    
</script>
</html>