{% extends 'base.html' %}

{% block head %}
<title>PUPQC Extension Activities</title>

{% endblock %}

{% block content %}
<div class="page-header d-print-none">
    <div class="container-xl">
        <div class="row g-2 align-items-center">
            <div class="col">
            <h2 class="page-title">
                Extension Activities
            </h2>
            </div>
        </div>
    </div>
</div>
<div class="page-body">
    <div class="container-xl">
        {% for activity in activities %}
        <div class="card mb-4">
            <div class="row row-0">
                <div class="col-3">
                    <!-- Photo -->
                    <img src="{{activity.ImageUrl}}" class="w-100 h-100 object-cover card-img-start" alt="{{activity.ActivityName}}">
                </div>
                <div class="col">
                <div class="card-body d-flex flex-column justify-content-between" style="max-height: 150px;">
                    <div>
                        <a href="{{url_for('programs.activity', id=activity.ActivityId)}}" class="text-black">
                            <h3 class="card-title mb-1">{{activity.ActivityName}}</h3>
                        </a>
                        <div class="text-truncate text-" style="max-height: 50px;">
                            <p class="text-secondary">{{activity.Description|safe}}</p>
                        </div>
                    </div>
                    <small class="text-secondary">{{activity.Project.Title}}</small>
                </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}