<!DOCTYPE html>
<html>
<head>
    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.2.0/css/all.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_cd0836a671390e97b7270068a69824a5 {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
                .leaflet-container { font-size: 1rem; }
            </style>
        
</head>
<body>
    
    
            <div class="folium-map" id="map_cd0836a671390e97b7270068a69824a5" ></div>
        
</body>
<script>
    
    
            var map_cd0836a671390e97b7270068a69824a5 = L.map(
                "map_cd0836a671390e97b7270068a69824a5",
                {
                    center: [14.7121599, 121.0926815],
                    crs: L.CRS.EPSG3857,
                    zoom: 15,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_81ff826db851d724361a8c21f66a1757 = L.tileLayer(
                "https://{s}.basemaps.cartocdn.com/dark_all/{z}/{x}/{y}{r}.png",
                {"attribution": "CartoDB.DarkMatter", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            );
        
    
            tile_layer_81ff826db851d724361a8c21f66a1757.addTo(map_cd0836a671390e97b7270068a69824a5);
        
    
            var tile_layer_ff795cd61d2330a2be899c9371d9116a = L.tileLayer(
                "https://tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "\u0026copy; \u003ca href=\"https://www.openstreetmap.org/copyright\"\u003eOpenStreetMap\u003c/a\u003e contributors", "detectRetina": false, "maxNativeZoom": 19, "maxZoom": 19, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            );
        
    
            tile_layer_ff795cd61d2330a2be899c9371d9116a.addTo(map_cd0836a671390e97b7270068a69824a5);
        
    
            var layer_control_5bc17016cc1fa72416bcccb545c51cfb_layers = {
                base_layers : {
                    "CartoDB.DarkMatter" : tile_layer_81ff826db851d724361a8c21f66a1757,
                    "openstreetmap" : tile_layer_ff795cd61d2330a2be899c9371d9116a,
                },
                overlays :  {
                },
            };
            let layer_control_5bc17016cc1fa72416bcccb545c51cfb = L.control.layers(
                layer_control_5bc17016cc1fa72416bcccb545c51cfb_layers.base_layers,
                layer_control_5bc17016cc1fa72416bcccb545c51cfb_layers.overlays,
                {"autoZIndex": true, "collapsed": true, "position": "topright"}
            ).addTo(map_cd0836a671390e97b7270068a69824a5);

        
    
            var marker_d0bc60ffe0119a930404bfa263bd961a = L.marker(
                [14.7121599, 121.0926815],
                {}
            ).addTo(map_cd0836a671390e97b7270068a69824a5);
        
    
            var icon_514768a37d37412b79d14106d72331e6 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_d0bc60ffe0119a930404bfa263bd961a.setIcon(icon_514768a37d37412b79d14106d72331e6);
        
    
        var popup_c0af9903bd91860398b82ee6b896ef60 = L.popup({"maxWidth": 300});

        
            
                var html_a69a2fe5e9b2f5df86ff85510ebddd2d = $(`<div id="html_a69a2fe5e9b2f5df86ff85510ebddd2d" style="width: 100.0%; height: 100.0%;">Activity Location: Bagong Silangan</div>`)[0];
                popup_c0af9903bd91860398b82ee6b896ef60.setContent(html_a69a2fe5e9b2f5df86ff85510ebddd2d);
            
        

        marker_d0bc60ffe0119a930404bfa263bd961a.bindPopup(popup_c0af9903bd91860398b82ee6b896ef60)
        ;

        
    
</script>
</html>