<!DOCTYPE html>
<html>
<head>
    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.2.0/css/all.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_436be2a0646ced5430dd6ec4b4c36ee4 {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
                .leaflet-container { font-size: 1rem; }
            </style>
        
</head>
<body>
    
    
            <div class="folium-map" id="map_436be2a0646ced5430dd6ec4b4c36ee4" ></div>
        
</body>
<script>
    
    
            var map_436be2a0646ced5430dd6ec4b4c36ee4 = L.map(
                "map_436be2a0646ced5430dd6ec4b4c36ee4",
                {
                    center: [14.7011253, 121.0721637],
                    crs: L.CRS.EPSG3857,
                    zoom: 15,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_29d7e367f520dcc89af7196432ddd575 = L.tileLayer(
                "https://{s}.basemaps.cartocdn.com/dark_all/{z}/{x}/{y}{r}.png",
                {"attribution": "CartoDB.DarkMatter", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            );
        
    
            tile_layer_29d7e367f520dcc89af7196432ddd575.addTo(map_436be2a0646ced5430dd6ec4b4c36ee4);
        
    
            var tile_layer_019643ca57d35643aaa949fbda95aed3 = L.tileLayer(
                "https://tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "\u0026copy; \u003ca href=\"https://www.openstreetmap.org/copyright\"\u003eOpenStreetMap\u003c/a\u003e contributors", "detectRetina": false, "maxNativeZoom": 19, "maxZoom": 19, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            );
        
    
            tile_layer_019643ca57d35643aaa949fbda95aed3.addTo(map_436be2a0646ced5430dd6ec4b4c36ee4);
        
    
            var layer_control_d960a3fdb0c3e2743706f8be6041a67e_layers = {
                base_layers : {
                    "CartoDB.DarkMatter" : tile_layer_29d7e367f520dcc89af7196432ddd575,
                    "openstreetmap" : tile_layer_019643ca57d35643aaa949fbda95aed3,
                },
                overlays :  {
                },
            };
            let layer_control_d960a3fdb0c3e2743706f8be6041a67e = L.control.layers(
                layer_control_d960a3fdb0c3e2743706f8be6041a67e_layers.base_layers,
                layer_control_d960a3fdb0c3e2743706f8be6041a67e_layers.overlays,
                {"autoZIndex": true, "collapsed": true, "position": "topright"}
            ).addTo(map_436be2a0646ced5430dd6ec4b4c36ee4);

        
    
            var marker_2b3d982521d1018d7bfd4bbc4d733bb3 = L.marker(
                [14.7011253, 121.0721637],
                {}
            ).addTo(map_436be2a0646ced5430dd6ec4b4c36ee4);
        
    
            var icon_c3323d23f3db2753ac900570cda6fe9b = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_2b3d982521d1018d7bfd4bbc4d733bb3.setIcon(icon_c3323d23f3db2753ac900570cda6fe9b);
        
    
        var popup_1dd6d753e199fb59fbced73e40fead79 = L.popup({"maxWidth": 300});

        
            
                var html_6de6be4fc994edffd4f7e20882c3d038 = $(`<div id="html_6de6be4fc994edffd4f7e20882c3d038" style="width: 100.0%; height: 100.0%;">Activity Location: Commonwealth</div>`)[0];
                popup_1dd6d753e199fb59fbced73e40fead79.setContent(html_6de6be4fc994edffd4f7e20882c3d038);
            
        

        marker_2b3d982521d1018d7bfd4bbc4d733bb3.bindPopup(popup_1dd6d753e199fb59fbced73e40fead79)
        ;

        
    
</script>
</html>