{% extends 'admin/base.html' %}

{% block head %}
    <title>PUPQC Extension Services</title>
    <!-- Multiple Select -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/multiple-select.css')}}">
    <style>
        @import url(https://fonts.googleapis.com/css?family=Montserrat);

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: montserrat, arial, verdana;
}

#multistepsform {
  margin: 50px auto;
  text-align: center;
  position: relative;
}

#multistepsform fieldset {
  background: white;
  border: 0 none;
  border-radius: 3px;
  box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.4);
  padding: 20px 30px;
  box-sizing: border-box;
  width: 80%;
  margin: 0 10%;
  position: relative;
}

#multistepsform fieldset:not(:first-of-type) {
  display: none;
}

#multistepsform input.input,
#multistepsform select,
#multistepsform textarea,
#multiple-select-container-1 button {
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 3px;
  margin-top: 5px;
  margin-bottom: 10px;
  width: 100%;
  box-sizing: border-box;
  font-family: montserrat;
  color: #2c3e50;
  font-size: 13px;
}

#multistepsform input.input:focus,
#multistepsform select:focus,
#multistepsform textarea:focus {
  border-color: #679b9b;
  outline: none;
  color: #637373;
}

#multistepsform .action-button {
  width: 100px;
  background: #810001;
  color: #fff;
  font-weight: bold;
  transition: 150ms;
  border: 0 none;
  border-radius: 1px;
  cursor: pointer;
  padding: 10px 5px;
  margin: 10px 5px;
}

#multistepsform .action-button.previous {
    background: #ccc;
}

#multistepsform .action-button.next:hover,
#multistepsform .action-button.next:focus {
    box-shadow: 0 0 0 2px #790000;
    color: #fff;
}

#multistepsform .action-button.previous:hover,
#multistepsform .action-button.previous:focus {
    box-shadow: 0 0 0 2px #666;
}

#multistepsform .fs-title {
  font-size: 15px;
  text-transform: uppercase;
  color: #282b2e;
  margin-bottom: 10px;
}

#multistepsform .fs-subtitle {
  font-weight: normal;
  font-size: 13px;
  color: #666;
  margin-bottom: 20px;
}

#progressbar {
  margin-bottom: 30px;
  overflow: hidden;
  counter-reset: step;
}

#progressbar li {
  list-style-type: none;
  color: #679b9b;
  text-transform: uppercase;
  font-size: 9px;
  width: 33.33%;
  float: left;
  position: relative;
}

#progressbar li:before {
  content: counter(step);
  counter-increment: step;
  width: 20px;
  line-height: 20px;
  display: block;
  font-size: 10px;
  color: #fff;
  background: #679b9b;
  border-radius: 3px;
  margin: 0 auto 5px auto;
}

#progressbar li:after {
  content: "";
  width: 100%;
  height: 2px;
  background: #679b9b;
  position: absolute;
  left: -50%;
  top: 9px;
  z-index: -1;
}

#progressbar li:first-child:after {
  content: none;
}

#progressbar li.active {
  color: #810001;
}

#progressbar li.active:before,
#progressbar li.active:after {
  background: #810001;
  color: white;
}

input[type="file"],
input[type="file"]::-webkit-file-upload-button,
#multiple-select-container-1 button {
    height:51.1px!important;
}


</style>
{% endblock %}

{% block content %}
        <!--Container-->
        <div class="mx-auto px-2 ">
            <!-- multistep form -->
            <div id="multistepsform" class="m-0 py-5 mb-5">
                <form id="programForm" enctype="multipart/form-data" method="post">
                    {{ form.hidden_tag() }}
                    <!-- progressbar -->
                    <ul id="progressbar">
                        <li class="active">Extension Program</li>
                        <li>Project</li>
                        <li>Activity</li>
                    </ul>
                    <!-- fieldsets -->
                    <fieldset>
                        <h2 class="text-uppercase fs-3">Create extension program</h2>
                        <div class="row g-2">
                            <div class="col-12 text-start d-flex flex-column">
                                <!-- name -->
                                {{ form.extension_program.program_name.label }}
                                {{ form.extension_program.program_name(class="input")}}
                                <ul>
                                    {% for error in form.extension_program.program_name.errors %}
                                    <li class="text-danger mb-4 mt-0 p-0">{{ error }}</li>
                                    {% endfor %}
                                </ul>
                            </div>
                            <div class="col-12 text-start d-flex flex-column">
                                <!-- rationale -->
                                {{ form.extension_program.rationale.label }}
                                {{ form.extension_program.rationale(class="form-control") }}
                                <ul>
                                    {% for error in form.extension_program.rationale.errors %}
                                    <li class="text-danger mb-4 mt-0 p-0">{{ error }}</li>
                                    {% endfor %}
                                </ul>
                            </div>
                            <div class="col-auto col-md-4 text-start d-flex flex-column">
                                <!-- image -->
                                {{ form.extension_program.image.label }}
                                {{ form.extension_program.image(class="form-control mt-1")}}
                                <ul>
                                    {% for error in form.extension_program.image.errors %}
                                    <li class="text-danger mb-4 mt-0 p-0">{{ error }}</li>
                                    {% endfor %}
                                </ul>
                            </div>
                            <div class="col-auto col-md-4 text-start d-flex flex-column">
                                <!-- agenda -->
                                {{ form.extension_program.agenda.label }}
                                {{ form.extension_program.agenda(class="input")}}
                                <ul>
                                    {% for error in form.extension_program.agenda.errors %}
                                    <li class="text-danger mb-4 mt-0 p-0">{{ error }}</li>
                                    {% endfor %}
                                </ul>
                            </div>
                            <div class="col-auto col-md-4 text-start d-flex flex-column">
                                <!-- program -->
                                {{ form.extension_program.program.label }}
                                {{ form.extension_program.program(class="input")}}
                                <ul>
                                    {% for error in form.extension_program.program.errors %}
                                    <li class="text-danger mb-4 mt-0 p-0">{{ error }}</li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                        <input type="button" name="next" class="next action-button" value="Next" />
                    </fieldset>
                    
                    <!-- Project Form -->
                    <fieldset>
                        <h2 class="text-uppercase fs-3">Project</h2>
                        <div class="row g-2">
                            <div class="col-12 text-start">
                                <!-- project title -->
                                {{ form.project.title.label }}
                                {{ form.project.title(class="input")}}
                                <ul>
                                    {% for error in form.project.title.errors %}
                                    <li class="text-danger mb-4 mt-0 p-0">{{ error }}</li>
                                    {% endfor %}
                                </ul>
                            </div>
                            <div class="col-auto col-md-6 text-start d-flex flex-column">
                                <!-- implementer -->
                                {{ form.project.implementer.label }}
                                {{ form.project.implementer(class="input")}}
                                <ul>
                                    {% for error in form.project.implementer.errors %}
                                    <li class="text-danger mb-4 mt-0 p-0">{{ error }}</li>
                                    {% endfor %}
                                </ul>
                            </div>
                            <div class="col-auto col-md-3 text-start d-flex flex-column">
                                <!-- collaborator -->
                                {{ form.project.collaborator.label }}
                                {{ form.project.collaborator(class="input")}}
                                <ul>
                                    {% for error in form.project.collaborator.errors %}
                                    <li class="text-danger mb-4 mt-0 p-0">{{ error }}</li>
                                    {% endfor %}
                                </ul>
                            </div>
                            <div class="col-auto col-md-3 text-start">
                                <!-- project type -->
                                {{ form.project.project_type.label }}
                                {{ form.project.project_type(class="input")}}
                                <ul>
                                    {% for error in form.project.project_type.errors %}
                                    <li class="text-danger mb-4 mt-0 p-0">{{ error }}</li>
                                    {% endfor %}
                                </ul>
                            </div>
                            <div class="col-auto col-md-7 text-start">
                                <!-- target group -->
                                {{ form.project.target_group.label }}
                                {{ form.project.target_group(class="input")}}
                                <ul>
                                    {% for error in form.project.target_group.errors %}
                                    <li class="text-danger mb-4 mt-0 p-0">{{ error }}</li>
                                    {% endfor %}
                                </ul>
                            </div>
                            <div class="col-auto col-md-5 text-start">
                                <!-- project team -->
                                <div class="form-group m-0">
                                    {{ form.project.project_team.label }}
                                    <select id="{{form.project.project_team.id}}" name="{{form.project.project_team.name}}" class="input" multiple="" hidden>
                                        {% for option in form.project.project_team %}
                                            {{ option }}
                                        {% endfor %}
                                    </select>
                                </div>
                                <ul>
                                    {% for error in form.project.project_team.errors %}
                                    <li class="text-danger mb-4 mt-0 p-0">{{ error }}</li>
                                    {% endfor %}
                                </ul>
                            </div>
                            <div class="col-auto col-md-4 text-start">
                                <!-- start date -->
                                {{ form.project.start_date.label }}
                                {{ form.project.start_date(class="input")}}
                                <ul>
                                    {% for error in form.project.start_date.errors %}
                                    <li class="text-danger mb-4 mt-0 p-0">{{ error }}</li>
                                    {% endfor %}
                                </ul>
                            </div>
                            <div class="col-auto col-md-4 text-start">
                                <!-- end date -->
                                {{ form.project.end_date.label }}
                                {{ form.project.end_date(class="input")}}
                                <ul>
                                    {% for error in form.project.end_date.errors %}
                                    <li class="text-danger mb-4 mt-0 p-0">{{ error }}</li>
                                    {% endfor %}
                                </ul>
                            </div>
                            <div class="col-auto col-md-4 text-start">
                                <!-- status -->
                                {{ form.project.status.label }}
                                {{ form.project.status(class="input")}}
                                <ul>
                                    {% for error in form.project.status.errors %}
                                    <li class="text-danger mb-4 mt-0 p-0">{{ error }}</li>
                                    {% endfor %}
                                </ul>
                            </div>
                            <div class="col-auto col-md-4 text-start">
                                <!-- proposed_budget -->
                                {{ form.project.proposed_budget.label }}
                                {{ form.project.proposed_budget(class="input")}}
                                <ul>
                                    {% for error in form.project.proposed_budget.errors %}
                                    <li class="text-danger mb-4 mt-0 p-0">{{ error }}</li>
                                    {% endfor %}
                                </ul>
                            </div>
                            <div class="col-auto col-md-4 text-start">
                                <!-- approved_budget -->
                                {{ form.project.approved_budget.label }}
                                {{ form.project.approved_budget(class="input")}}
                                <ul>
                                    {% for error in form.project.approved_budget.errors %}
                                    <li class="text-danger mb-4 mt-0 p-0">{{ error }}</li>
                                    {% endfor %}
                                </ul>
                            </div>
                            <div class="col-auto col-md-4 text-start">
                                <!-- fund_type -->
                                {{ form.project.fund_type.label }}
                                {{ form.project.fund_type(class="input")}}
                                <ul>
                                    {% for error in form.project.fund_type.errors %}
                                    <li class="text-danger mb-4 mt-0 p-0">{{ error }}</li>
                                    {% endfor %}
                                </ul>
                            </div>
                            <div class="col-12 text-start">
                                <!-- impact statement -->
                                {{ form.project.impact_statement.label }}
                                {{ form.project.impact_statement(class="input")}}
                                <ul>
                                    {% for error in form.project.impact_statement.errors %}
                                    <li class="text-danger mb-4 mt-0 p-0">{{ error }}</li>
                                    {% endfor %}
                                </ul>
                            </div>
                            <div class="col-12 text-start">
                                <!-- objectives -->
                                {{ form.project.objectives.label }}
                                {{ form.project.objectives(class="input")}}
                                <ul>
                                    {% for error in form.project.objectives.errors %}
                                    <li class="text-danger mb-4 mt-0 p-0">{{ error }}</li>
                                    {% endfor %}
                                </ul>
                            </div>
                            <div class="col-auto col-md-6 text-start d-flex flex-column">
                                <!-- image -->
                                {{ form.project.image.label }}
                                {{ form.project.image(class="form-control")}}
                                <ul>
                                    {% for error in form.project.image.errors %}
                                    <li class="text-danger mb-4 mt-0 p-0">{{ error }}</li>
                                    {% endfor %}
                                </ul>
                            </div>
                            <div class="col-auto col-md-6 text-start d-flex flex-column">
                                <!-- project proposal -->
                                {{ form.project.project_proposal.label }}
                                {{ form.project.project_proposal(class="form-control")}}
                                <ul>
                                    {% for error in form.project.project_proposal.errors %}
                                    <li class="text-danger mb-4 mt-0 p-0">{{ error }}</li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                        <input type="button" name="previous" class="previous action-button" value="Previous" />
                        <input type="button" name="next" class="next action-button" value="Next" />
                    </fieldset>
                <fieldset>
                <h2 class="text-uppercase fs-3">Activity</h2>
                <div class="row g-2">
                    <div class="col-12 text-start">
                        <!-- name -->
                        {{ form.activity.activity_name.label }}
                        {{ form.activity.activity_name(class="input")}}
                        <ul>
                            {% for error in form.activity.activity_name.errors %}
                            <li class="text-danger mb-4 mt-0 p-0">{{ error }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                    <div class="col-12 text-start d-flex flex-column">
                        <!-- description -->
                        {{ form.activity.activity_description.label }}
                        {{ form.activity.activity_description(class="input") }}
                        <ul>
                            {% for error in form.activity.activity_description.errors %}
                            <li class="text-danger mb-4 mt-0 p-0">{{ error }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                    <div class="col-auto col-md-6 text-start d-flex flex-column">
                        <!-- image -->
                        {{ form.activity.image.label }}
                        {{ form.activity.image(class="form-control mt-1")}}
                        <ul>
                            {% for error in form.activity.image.errors %}
                            <li class="text-danger mb-4 mt-0 p-0">{{ error }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                    <div class="col-auto col-md-6 text-start d-flex flex-column">
                        <!--date -->
                        {{ form.activity.date.label }}
                        {{ form.activity.date(class="input")}}
                        <ul>
                            {% for error in form.activity.date.errors %}
                            <li class="text-danger mb-4 mt-0 p-0">{{ error }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
                <input type="button" name="previous" class="previous action-button" value="Previous" />
                <input type="submit" name="submit" class="submit action-button" value="Submit" />
            </fieldset>
        </form>
            </div>
        </div>
        <!--/container-->
{% endblock %}

{% block script %}
<!-- Multiple Select -->
<script src="{{ url_for('static', filename='js/multiple-select.js')}}"></script>

<script>
    new MultipleSelect('#project-project_team', {
        placeholder: 'Select Faculty'
    })
    document.getElementById("multiple-select-container-1").classList.add("input");
    
</script>

<script>
var current_fs, next_fs, previous_fs;
var left, opacity, scale;
var animating;

$(".next").click(function () {
    if (animating) return false;
    animating = true;

    current_fs = $(this).parent();
    next_fs = $(this).parent().next();
    $("#progressbar li").eq($("fieldset").index(next_fs)).addClass("active");
    var requiredInput = $(this).parent().find("input[required]");
    var requiredTextarea = $(this).parent().find("textarea[required]");
    var requiredFields = $.merge(requiredTextarea, requiredInput);
    // Check if all required fields in the current form are filled out
    var filledOut = true;
    
    // requiredFields.each(function() {
    //     if ($(this).val() === "") {
    //         filledOut = false;
    //         return false; // exit the loop early if a required field is empty
    //     }
    // });
    if (!filledOut) {
        toastr.error("Please fill out all the fields.");
        animating = false;
        return;
    }


    next_fs.show();
    current_fs.animate(
        { opacity: 0 },
        {
        step: function (now, mx) {
            scale = 1 - (1 - now) * 0.2;
            left = now * 50 + "%";
            opacity = 1 - now;
            current_fs.css({
            transform: "scale(" + scale + ")",
            position: "absolute"
            });
            next_fs.css({ left: left, opacity: opacity });
        },
        duration: 300,
        complete: function () {
            current_fs.hide();
            animating = false;
        },
        easing: "swing"
        }
    );
});

$(".previous").click(function () {
    if (animating) return false;
    animating = true;

    current_fs = $(this).parent();
    previous_fs = $(this).parent().prev();
    $("#progressbar li")
        .eq($("fieldset").index(current_fs))
        .removeClass("active");

    previous_fs.show();
    current_fs.animate(
        { opacity: 0 },
        {
        step: function (now, mx) {
            scale = 0.8 + (1 - now) * 0.2;
            left = (1 - now) * 50 + "%";
            opacity = 1 - now;
            current_fs.css({ left: left });
            previous_fs.css({
            transform: "scale(" + scale + ")",
            opacity: opacity
            });
        },
        duration: 300,
        complete: function () {
            current_fs.hide();
            animating = false;
        },
        easing: "swing"
        }
    );
});


$("form").on("submit", function (e) {
    var requiredInput = $(this).parent().find("input[required]");
    var requiredTextarea = $(this).parent().find("textarea[required]");
    var requiredFields = $.merge(requiredTextarea, requiredInput);
    var filledOut = true;
    // Check if all required fields in the current form are filled out
    requiredFields.each(function() {
    if ($(this).val() === "") {
        filledOut = false;
        return false; // exit the loop early if a required field is empty
    }
    });

    if (!filledOut) {
        toastr.error("Please fill out all the fields.");
        animating = false;
        e.preventDefault();
        return;
    }
});
</script>

    
{% endblock %}