<!-- Multiple Select -->
<link rel="stylesheet" href="{{ url_for('static', filename='css/multiple-select.css')}}">
<div class="modal modal-blur" id="add-project" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Project Information</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form id="project-form" action="{{ url_for('programs.insertProject') }}" enctype="multipart/form-data" method="post">
            <div class="modal-body">
                <div class="row">
                        {{ form.csrf_token() }}
                        {{ form.extension_program(value=ext_program.ExtensionProgramId)}}
                        <div class="col-12">
                            <div class="mb-3">
                                <!-- name -->
                                {{ form.title.label(class="form-label") }}
                                {{ form.title(class="form-control")}}
                            </div>
                        </div>
                        <div class="col-auto col-md-6">
                            <div class="mb-3">
                                <!-- implementer -->
                                {{ form.implementer.label(class="form-label") }}
                                {{ form.implementer(class="form-control")}}
                            </div>
                        </div>
                        <div class="col-auto col-md-6">
                            <div class="mb-3">
                                <!-- collaborator -->
                                {{ form.collaborator.label(class="form-label") }}
                                {{ form.collaborator(class="form-select")}}
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="mb-3">
                                <!-- target_group -->
                                {{ form.target_group.label(class="form-label") }}
                                {{ form.target_group(class="form-control")}}
                            </div>
                        </div>
                        <div class="col-auto col-md-6">
                            <div class="mb-3">
                                <!-- project team -->
                                <div class="form-group">
                                    {{ form.project_team.label(class="form-label")}}
                                    <select id="{{form.project_team.id}}" name="{{form.project_team.name}}" multiple="" hidden>
                                        {% for option in form.project_team %}
                                            {{ option }}
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-auto col-md-6">
                            <div class="mb-3">
                                <!-- project type -->
                                {{ form.project_type.label(class="form-label") }}
                                {{ form.project_type(class="form-select")}}
                            </div>
                        </div>
                        <div class="col-auto col-md-6">
                            <div class="mb-3">
                                <!-- start date -->
                                {{ form.start_date.label(class="form-label") }}
                                {{ form.start_date(class="form-control")}}
                            </div>
                        </div>
                        <div class="col-auto col-md-6">
                            <div class="mb-3">
                                <!-- end date -->
                                {{ form.end_date.label(class="form-label") }}
                                {{ form.end_date(class="form-control")}}
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="mb-3">
                                <!-- impact_statement -->
                                {{ form.impact_statement.label(class="form-label") }}
                                {{ form.impact_statement(class="form-control")}}
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="mb-3">
                                <!-- objectives -->
                                {{ form.objectives.label(class="form-label") }}
                                {{ form.objectives(class="form-control")}}
                            </div>
                        </div>
                        <div class="col-auto col-md-6">
                            <div class="mb-3">
                                <!-- image -->
                                {{ form.image.label(class="form-label") }}
                                {{ form.image(class="form-control")}}
                            </div>
                        </div>
                        <div class="col-auto col-md-6">
                            <div class="mb-3">
                                <!-- project_proposal -->
                                {{ form.project_proposal.label(class="form-label") }}
                                {{ form.project_proposal(class="form-control")}}
                            </div>
                        </div>
                        <div class="col-12 col-md-6">
                            <div class="mb-3">
                                <label for="approved_budget" class="form-label">Budget Amount</label>
                                <input type="number" name="approved_budget"" class="form-control" required>
                            </div>
                        </div>
                        <div class="col-12 col-md-6">
                            <div class="mb-3">
                                <label for="fund_type" class="form-label">Fund Type</label>
                                <select name="fund_type" id="fund_type" class="form-select">
                                    <option value="Internal" required>Internal</option>
                                    <option value="External" required>External</option>
                                </select>
                            </div>
                        </div>
                    <button type="button"  id="add-item-button" class="bg-transparent text-primary border-0" style="width: fit-content;">
                        <svg xmlns="http://www.w3.org/2000/svg" class="icon p-0 me-1" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M12 5l0 14" /><path d="M5 12l14 0" /></svg>
                        Add budget
                    </button>
                </div>
            </div>
            <div class="modal-footer">
                <a href="#" id="cancel-button" class="btn btn-link link-secondary" data-bs-dismiss="modal">
                    Cancel
                </a>
                <button type="submit" id="submit-btn" class="btn btn-primary ms-auto">
                    Save
                </button type="button">
            </div>
        </form>
          
            {{ ckeditor.load(pkg_type="basic") }}
            {{ ckeditor.config() }}
        </div>
    </div>
</div>

<!-- Multiple Select -->
<script src="{{ url_for('static', filename='js/multiple-select.js')}}"></script>
<script>
        
new MultipleSelect('#project_team', {
        placeholder: 'Select Faculty'
})
</script>

