<div class="modal modal-blur" id="add-activity" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Add Activity</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form action="{{ url_for('programs.insertActivity', id=project.ProjectId)}}" enctype="multipart/form-data" method="post">
            {{ activity_form.csrf_token() }}
            <div class="modal-body">
                <div class="row">
                    <div class="col-12">
                        <div class="mb-3">
                            <!-- name -->
                        {{ activity_form.activity_name.label(class="form-label") }}
                        {{ activity_form.activity_name(class="form-control")}}
                        </div>
                    </div>
                    <div class="col-auto col-md-4">
                        <div class="mb-3">
                            <!--date -->
                            {{ activity_form.date.label(class="form-label") }}
                            {{ activity_form.date(class="form-control")}}
                        </div>
                    </div>
                    <div class="col-auto col-md-4">
                        <div class="mb-3">
                            <!-- start time -->
                            {{ activity_form.start_time.label(class="form-label") }}
                            {{ activity_form.start_time(id="start_time", class="form-control")}}
                        </div>
                    </div>
                    <div class="col-auto col-md-4">
                        <div class="mb-3">
                            <!-- end time -->
                            {{ activity_form.end_time.label(class="form-label") }}
                            {{ activity_form.end_time(id="start_time", class="form-control")}}
                        </div>
                    </div>
                    <div class="col-auto col-md-6">
                        <div class="mb-3">
                            <!-- speaker-->
                            <div class="form-group">
                                {{ activity_form.speaker.label(class="form-label")}}
                                <select id="{{activity_form.speaker.id}}" name="{{activity_form.speaker.name}}" multiple="" hidden required>
                                    {% for option in activity_form.speaker %}
                                        {{ option }}
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-auto col-md-6">
                        <div class="mb-3">
                            <!-- location -->
                            {{ activity_form.location.label(class="form-label") }}
                            {{ activity_form.location(class="form-select")}}
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="mb-3">
                            <!-- description -->
                            {{ activity_form.activity_description.label(class="form-label") }}
                            {{ activity_form.activity_description(class="form-control")}}
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="mb-3">
                            <!-- image -->
                            {{ activity_form.image.label(class="form-label") }}
                            {{ activity_form.image(class="form-control")}}
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <a href="#" class="btn btn-link link-secondary" data-bs-dismiss="modal">
                    Cancel
                </a>
                {{ activity_form.project(value=project.ProjectId) }}
                {{ activity_form.save(class="btn btn-primary ms-auto")}}
            </div>
            </form>  
            {{ ckeditor.load(pkg_type="basic") }}
            {{ ckeditor.config() }}  
        </div>
    </div>
</div>

