{% extends 'admin/base.html' %}

{% block head %}
    <title>Project Budget Allocation</title>
    <!--Regular Datatables CSS-->
	<link href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" rel="stylesheet">
	<!--Responsive Extension Datatables CSS-->
	<link href="https://cdn.datatables.net/responsive/2.2.3/css/responsive.dataTables.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/table_style.css') }}">  
{% endblock %}

{% block content %}
        <!--Container-->
        <div class="container-xl ">
            <!--Title-->
            <div class="page-header">
                <div class="row align-items-center mw-100">
                    <div class="col">
                        <h2 class="page-title">
                            Projects Budget
                        </h2>
                    </div>
                </div>
            </div>  
            <!--Card-->
            <div class="p-4 mt-3 rounded shadow bg-white">
                <table id="budget" class="stripe hover" style="width:100%; padding-top: 1em;  padding-bottom: 1em;">
                    <thead>
                        <tr>
                            <th data-priority="1" class="text-start">Extension Project</th>
                            <th data-priority="2" class="text-start">Extension Program</th>
                            <th data-priority="3" class="text-start">Approved Budget</th>
                            <th data-priority="4" class="text-start"></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for project in projects %}
                        <tr>
                            <td>{{ project.Title }}</td>
                            <td>{{ project.ExtensionProgram.Name }}</td>
                            <td class="approved text-end pe-4"> {{ "{:,.2f}".format(project.totalBudget()) }}</td>
                            <td class="flex"><a href="{{ url_for('programs.projectBudget', id=project.ProjectId) }}" class="btn btn-primary me-2 px-2 py-1 rounded">View</a></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                    <tfoot>
                        <tr>
                            <td class="fw-bold" colspan="2" style="padding: 0.75rem!important;">Total</td>
                            <td class="fw-bold text-end pe-4" id="total-approved"></td>
                            <td></td>
                        </tr>
                    </tfoot>
                </table>
            </div>
            <!--/Card-->
        </div>
	    <!--/container-->
{% endblock %}

{% block script %}
    <!--Datatables -->
	<script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
	<script src="https://cdn.datatables.net/responsive/2.2.3/js/dataTables.responsive.min.js"></script>
    <script>

        $(document).ready(function() {

        var table = $('#budget').DataTable({
                responsive: true,
                "columns": [
                    { "width": "50%" },
                    { "width": "25%" },
                    { "width": "15%" },
                    { "width": "10%" },
                ]
            })
            .responsive.recalc()

        computeTotal();

        table.on('draw', function() {
            computeTotal();
        });
        
        function computeTotal() {
            var float_total_approved = 0.00
            $(".approved").each(function( index ) {
                float_total_approved = float_total_approved + parseFloat($( this ).text().replace(/,/g, ""))
            });
            
            // Format float_total_approved to display two decimal places
            float_total_approved = float_total_approved.toFixed(2);
            float_total_approved = new Intl.NumberFormat('en-US', { minimumFractionDigits: 2, style:'currency', currency: 'PHP'}).format(float_total_approved);
            $('#total-approved').text(float_total_approved)
        }
        });
    </script>
{% endblock %}