<div class="modal modal-blur fade" id="edit-item-{{item.ItemId}}" tabindex="-1" style="display: none;" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <form action="{{url_for('programs.updateItem', id=item.ItemId)}}", method="post">
        <div class="modal-body">
            {{ form.hidden_tag() }}
            <div class="row">
              <div class="col-12 mb-3">
                {{form.item.label(class="form-label")}}
                {{form.item(class="form-control", value=item.ItemName)}}
              </div>
              <div class="col-12 mb-3">
                {{form.particulars.label(class="form-label")}}
                {{form.particulars(class="form-control", value=item.Particulars)}}
              </div>
              <div class="col-12 mb-3">
                <label for="amount" class="form-label">Amount</label>
                {{form.amount(class="form-control", value=item.Amount)}}
              </div>
              <div class="col-12 mb-3">
                {{form.activity.label(class="form-label")}}
                <select name="{{form.activity.name}}" id="{{form.activity.id}}" class="form-select">
                  {% for activity in project.Activity %}
                  <option value="{{activity.ActivityId}}" {{'selected' if item.ActivityId == activity.ActivityId}}>{{activity.ActivityName}}</option>
                  {% endfor %}
                </select>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn me-auto" data-bs-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary" data-bs-dismiss="modal">Save</button>
          </div>
        </form>
      </div>
    </div>
  </div>