<div class="modal modal-blur" id="edit-project" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Edit project</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form action="{{ url_for('programs.updateProject', id=project.ProjectId) }}" enctype="multipart/form-data" method="post">
            {{ form.csrf_token() }}
            <div class="modal-body">
                <div class="row">
                    <div class="col-12">
                        <div class="mb-3">
                            <!-- name -->
                            {{ form.title.label(class="form-label") }}
                            {{ form.title(class="form-control")}}
                        </div>
                    </div>
                    <div class="col-auto col-md-6">
                        <div class="mb-3">
                            <!-- implementer -->
                            {{ form.implementer.label(class="form-label") }}
                            {{ form.implementer(class="form-control")}}
                        </div>
                    </div>
                    <div class="col-auto col-md-6">
                        <div class="mb-3">
                            <!-- collaborator -->
                            {{ form.collaborator.label(class="form-label") }}
                            <select id="{{form.collaborator.id}}" name="{{form.collaborator.name}}" class="form-select">
                                {% for option in form.collaborator.choices %}
                                    <option value="{{ option[0] }}" {{'selected' if option[0] == project.CollaboratorId}}>{{ option[1] }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="mb-3">
                            <!-- target_group -->
                            {{ form.target_group.label(class="form-label") }}
                            {{ form.target_group(class="form-control")}}
                        </div>
                    </div>
                    <div class="col-auto col-md-6">
                        <div class="mb-3">
                            {% set project_team = [] %}

                            {% for key, value in project.ProjectTeam.items() %}
                                {% set _ = project_team.append(key) %}
                            {% endfor %}
                            <!-- project team -->
                            <div class="form-group">
                                {{ form.project_team.label(class="form-label")}}
                                <select id="{{form.project_team.id}}" name="{{form.project_team.name}}"  class="form-select" multiple="" hidden>
                                    {% for option in form.project_team.choices %}
                                        <option value="{{ option[0] }}" {{'selected' if option[0] in project_team}}>{{ option[1] }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-auto col-md-6">
                        <div class="mb-3">
                            <!-- project type -->
                            {{ form.project_type.label(class="form-label") }}
                            {{ form.project_type(class="form-select")}}
                        </div>
                    </div>
                    <div class="col-auto col-md-6">
                        <div class="mb-3">
                            <!-- start date -->
                            {{ form.start_date.label(class="form-label") }}
                            {{ form.start_date(class="form-control")}}
                        </div>
                    </div>
                    <div class="col-auto col-md-6">
                        <div class="mb-3">
                            <!-- end date -->
                            {{ form.end_date.label(class="form-label") }}
                            {{ form.end_date(class="form-control")}}
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="mb-3">
                            <!-- impact_statement -->
                            {{ form.impact_statement.label(class="form-label") }}
                            {{ form.impact_statement(class="form-control")}}
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="mb-3">
                            <!-- objectives -->
                            {{ form.objectives.label(class="form-label") }}
                            {{ form.objectives(class="form-control")}}
                        </div>
                    </div>
                    <div class="col-auto col-md-6">
                        <div class="mb-3">
                            <!-- image -->
                            {{ form.image.label(class="form-label") }}
                            {{ form.image(class="form-control")}}
                        </div>
                    </div>
                    <div class="col-auto col-md-6">
                        <div class="mb-3">
                            <!-- project_proposal -->
                            {{ form.project_proposal.label(class="form-label") }}
                            {{ form.project_proposal(class="form-control")}}
                        </div>
                    </div>
                    <div class="col-12 col-md-12">
                        {{project.Title}}
                        <div class="mb-3 d-flex">
                            <div class="form-check form-switch">
                                <input type="checkbox" class="form-check-input me-2 {{'bg-primary' if project.ResearchBased else 'bg-secondary'}}" id="checkbox" name="{{form.research_based.name}}" {{'checked' if project.ResearchBased }}>
                                {{ form.research_based.label(class="form-check-label") }}
                            </div>
                        </div>
                    </div>
                    <div  class="col-12 col-md-23" >
                        <div class="mb-3" id="research-title" style="display: {{'block' if project.ResearchBased else 'none'}};">
                            {{form.research_title.label(class="form-label")}}
                            <select id="{{form.research_title.id}}" name="{{form.research_title.name}}" class="form-select">
                            {% for choice in form.research_title.choices %}
                            <option value="{{choice[0]}}" {{'selected' if project.ResearchBased and project.ResearchId == choice[0] }}>{{choice[1]}}</option>
                            {% endfor %}
                            </select>
                        </div>
                    </div>
                    {% for budget in project_budget %}
                    {% if loop.first %}
                    <input type="hidden" name="id" value="{{budget.BudgetId}}">
                    <div class="col-12 col-md-6">
                        <div class="mb-3">
                            <label for="approved_budget" class="form-label">Budget Amount</label>
                            <input type="number" name="approved_budget" value="{{budget.Amount}}" class="form-control" required>
                        </div>
                    </div>
                    <div class="col-12 col-md-6">
                        <div class="mb-3">
                            <label for="fund_type" class="form-label">Fund Type</label>
                            <select name="fund_type" id="fund_type" class="form-select">
                                <option value="Internal" {{'selected' if budget.FundType == 'Internal'}} required>Internal</option>
                                <option value="External" {{'selected' if budget.FundType == 'External'}} required>External</option>
                            </select>
                        </div>
                    </div>
                    {% else %}
                    <div class="col-12 budget">
                        <div class="row">
                            <input type="hidden" name="id" value="{{budget.BudgetId}}">
                            <div class="col-12 col-md-6">
                                <div class="mb-3">
                                    <label for="approved_budget" class="form-label">Budget Amount</label>
                                    <input type="number" name="approved_budget" value="{{budget.Amount}}" class="form-control" required>
                                </div>
                            </div>
                            <div class="col-12 col-md-5">
                                <div class="mb-3">
                                    <label for="fund_type" class="form-label">Fund Type</label>
                                    <select name="fund_type" id="fund_type" class="form-select">
                                        <option value="Internal" {{'selected' if budget.FundType == 'Internal'}} required>Internal</option>
                                        <option value="External" {{'selected' if budget.FundType == 'External'}} required>External</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-12 col-md-1 d-flex align-items-end">
                                <button type="button" class="btn bg-transparent border-0 text-danger remove-item p-0 fs-1 pb-3"><iconify-icon icon="ion:trash-outline"></iconify-icon></button>
                            </div>
                        </div>
                    </div>
                    {% endif %}
                    {% endfor %}
                    <button  type="button"  id="add-item-button" class="bg-transparent text-primary border-0" style="width: fit-content;">
                        <svg xmlns="http://www.w3.org/2000/svg" class="icon p-0 me-1" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M12 5l0 14" /><path d="M5 12l14 0" /></svg>
                        Add budget
                    </button>
                </div>
            </div>
            <div class="modal-footer">
                <a href="#" class="btn btn-link link-secondary" data-bs-dismiss="modal">
                    Cancel
                </a>
                {{ form.submit(class="btn btn-primary ms-auto")}}
            </div>
            </form>    
            {{ ckeditor.load(pkg_type="basic") }}
            {{ ckeditor.config() }}
        </div>
    </div>
</div>
