{% if current_user.RoleId == 1 %}
{% extends 'admin/base.html' %}
{% else %}
{% extends 'base.html' %}
{% endif %}
{% block head %}
<title>PUPQC Extension Programs</title>

{% endblock %}

{% block content %}
<div class="page-header d-print-none mb-3">
    <div class="container-xl">
        <div class="row g-2 align-items-center">
            <div class="col">
            <h2 class="page-title">
                Extension Programs
            </h2>
            </div>
        </div>
    </div>
</div>
<div class="page-body">
    <div class="container-xl">
        <div class="row g-4">
            {% if extension_programs %}
            {% for ext_program in extension_programs %}
            <div class="col-sm-6 col-lg-4">
            <a href="{{ url_for('programs.extensionProgram', id=ext_program.ExtensionProgramId) }}" class="text-decoration-none ">
            <div class="card card-sm">
                <img src="{{ ext_program.ImageUrl }}" class="card-img-top object-fit-cover " style="max-height: 200px;">
                <div class="card-body">
                <div class="d-flex align-items-center">
                    <div>
                        <h3 class="card-title mb-1 text-decoration-none text-black ">{{ ext_program.Name }}</h3>
                        <div class="tags-list row">
                            <span class="border border-secondary-subtle text-muted fs-5 p-1 me-1" style="max-width: fit-content;">{{ ext_program.Agenda.AgendaName }}</span>
                            <span class="border border-secondary-subtle text-muted fs-5 p-1"  style="max-width: fit-content;">{{ ext_program.Program.CourseCode }}</span>
                        </div>
                    </div>
                </div>
                </div>
            </div>
            </a>
            </div>
            {% endfor %}
            {% else %}
            No extension programs found.
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}