{% extends 'admin/base.html' %}

{% block head %}
    <title>PUPQC Extension Services</title> 
{% endblock %}

{% block content %}
        <!--Container-->
        <div class="container-xl">
            <!-- Page header -->
            <div class="page-header d-print-none">
                <div class="container-xl">
                <div class="row g-2 align-items-center">
                    <div class="col">
                    <h2 class="page-title">
                        Extension Programs
                    </h2>
                    </div>
                    <!-- Page title actions -->
                    <div class="col-auto ms-auto d-print-none">
                    <div class="d-flex">
                        {% if current_user.RoleId == 1 %}
                        <a href="{{ url_for('programs.insertExtensionProgram')}}" class="btn btn-success">
                        <!-- Download SVG icon from http://tabler-icons.io/i/plus -->
                        <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M12 5l0 14" /><path d="M5 12l14 0" /></svg>
                        Add extension program
                        </a>
                        {% endif %}
                    </div>
                    </div>
                </div>
                </div>
            </div>
            {% if programs %}                
                <div class="row g-3 mt-2 mb-4">
                    {% for program in programs %}
                    <div class="col-md-6 col-lg-4">
                        <div class="card">
                            <!-- Photo -->
                            <img src="{{ program.ImageUrl if program.ImageUrl }}" height="200px" class="card-img-top object-fit-cover"></img>
                            <div class="card-body">
                                <h3 class="card-title mb-2">{{ program.Name }}</h3>
                                <div class="tags-list row">
                                    <span class="border border-secondary-subtle text-muted fs-5 p-1 me-1" style="max-width: fit-content;">{{ program.Agenda.AgendaName }}</span>
                                    <span class="border border-secondary-subtle text-muted fs-5 p-1"  style="max-width: fit-content;">{{ program.Program.CourseCode }}</span>
                                </div>
                            </div>
                            <!-- Card footer -->
                            <div class="card-footer">
                                <div class="d-flex {{'justify-content-between' if current_user.RoleId == 1 else 'justify-content-end'}} ">
                                    {% if current_user.RoleId == 1 %}
                                    <button  data-bs-toggle="modal" data-bs-target="#deleteModal{{ program.ExtensionProgramId }}"class="fw-semibold fs-2 text-danger bg-transparent border-0">
                                        <iconify-icon icon="ion:trash-outline"></iconify-icon>
                                    </button>
                                    {% endif %}
                                    <a href="{{url_for('programs.viewExtensionProgram', id=program.ExtensionProgramId)}}" class="btn btn-primary fs-4">View Extension Program</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% if current_user.RoleId == 1 %}
                    {% include 'programs/delete_program.html' %}
                    {% endif %}
                    {% endfor %}
                </div>
            {% else %}
                <div class="w-full d-flex justify-content-center align-items-center p-5">
                    No extension programs found.
                </div>
            {% endif %}
        </div>
        <!--/container-->
{% endblock %}