{% extends 'admin/base.html' %}

{% block head %}
    <title>{{project.Title}} Budget</title>
    <script src="https://cdn.jsdelivr.net/npm/echarts@5.4.3/dist/echarts.min.js"></script>
    <!--Regular Datatables CSS-->
    <link href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" rel="stylesheet">
    <!--Responsive Extension Datatables CSS-->
    <link href="https://cdn.datatables.net/responsive/2.2.3/css/responsive.dataTables.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/table_style.css') }}">  
    <link rel="stylesheet" href="{{ url_for('static', filename='css/kanban.css') }}" />
    <script src="{{ url_for('static', filename='js/drag.js') }}" defer></script>
{% endblock %}

{% block content %}
<div class="container-xl mt-4">
    <div class="row g-2 align-items-center">
        <div class="col">
            <h2 class="page-title">
            {{ project.Title }}
            </h2>
        </div>
        <!-- Page title actions -->
        <div class="col-auto ms-auto d-print-none">
            <div class="d-flex">
            <a href="#" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#add-item">
                <!-- Download SVG icon from http://tabler-icons.io/i/plus -->
                <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path d="M12 5l0 14"></path><path d="M5 12l14 0"></path></svg>
                Add Item
            </a>
            </div>
        </div>
    </div>
</div>
<!-- Page body -->
<div class="page-body pb-4">
    <div class="container-xl">
      <p id="projectId" class="d-none">{{project.ProjectId}}</p>
        <div class="row g-2 row-cards">
          <div class="col-12 col-md-9">
            <div class="row">
              <div class="col-12 col-md-3">
                <div class="card card-sm">
                  <div class="card-body">
                    <div class="row align-items-center">
                      <div class="col-auto">
                        <span class="bg-primary text-white avatar">
                          <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-currency-peso" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M8 19v-14h3.5a4.5 4.5 0 1 1 0 9h-3.5" /><path d="M18 8h-12" /><path d="M18 11h-12" /></svg>
                        </span>
                      </div>
                      <div class="col">
                        <div class="font-weight-medium">
                          {{ "{:,.2f}".format(internal_budget) }}
                        </div>
                        <div class="text-secondary">
                          Internal Budget
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-12 col-md-3">
                <div class="card card-sm">
                  <div class="card-body">
                    <div class="row align-items-center">
                      <div class="col-auto">
                        <span class="bg-primary text-white avatar">
                          <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-currency-peso" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M8 19v-14h3.5a4.5 4.5 0 1 1 0 9h-3.5" /><path d="M18 8h-12" /><path d="M18 11h-12" /></svg>
                        </span>
                      </div>
                      <div class="col">
                        <div class="font-weight-medium">
                          {{ "{:,.2f}".format(external_budget) }}
                        </div>
                        <div class="text-secondary">
                          External Budget
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-12 col-md-3">
                <div class="card card-sm">
                  <div class="card-body">
                    <div class="row align-items-center">
                      <div class="col-auto">
                        <span class="bg-primary text-white avatar">
                          <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-currency-peso" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M8 19v-14h3.5a4.5 4.5 0 1 1 0 9h-3.5" /><path d="M18 8h-12" /><path d="M18 11h-12" /></svg>
                        </span>
                      </div>
                      <div class="col">
                        <div class="font-weight-medium">
                          {{ "{:,.2f}".format(internal_budget + external_budget) }}
                        </div>
                        <div class="text-secondary">
                          Total Budget
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-12 col-md-3">
                <div class="card card-sm">
                  <div class="card-body">
                    <div class="row align-items-center">
                      <div class="col-auto">
                        <span class="bg-primary text-white avatar">
                          <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-currency-peso" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M8 19v-14h3.5a4.5 4.5 0 1 1 0 9h-3.5" /><path d="M18 8h-12" /><path d="M18 11h-12" /></svg>
                        </span>
                      </div>
                      <div class="col">
                        <div class="font-weight-medium">
                          <span id="remaining-budget">{{ "{:,.2f}".format(project.totalBudget() - project.totalExpense()) }}</span>
                        </div>
                        <div class="text-secondary">
                          Remaining Budget
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="card p-0 my-3">
                <div id="main" style="width: 100%; height: 200px"></div>
            </div>
          </div>
          <div class="col-12 col-md-3 pb-3">
            <div class="card h-100">
              <div class="card-header px-3">
                <h3 class="card-title">Activities</h3>
              </div>
              <div class="card-body px-3">
                {% if project.Activity %}
                {% for activity in project.Activity %}
                {% if activity.IsArchived == False %}
                <div class="row">
                  <div class="col-12 col-md-8 text-truncate">
                      <span class="text-body d-block">{{activity.ActivityName}}</span>
                  </div>
                  <div class="col-12 col-md-4 d-flex justify-content-end ">
                      <div class="fw-bold" id="activity-expense">&#8369; {{ "{:,.2f}".format(activity.totalExpense()) }}</div>
                  </div>
                </div>
                <hr class="my-2">
                {% endif %}
                {% endfor %}
                {% else %}
                No activities found.
                {% endif %}
              </div>
              <div class="card-footer p-2 px-3">
                <div class="d-flex justify-content-between">
                  <p class="fw-bold">Running Total Expense:</p>
                  <p class="fw-bold" id="total-expense">&#8369; {{ "{:,.2f}".format(project.totalExpense()) }}</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="board">    
            <div class="lanes d-flex justify-content-center ">
              <div class="swim-lane" id="tbp-lane">
                <h3 class="heading">To Be Purchased</h3>
                {% for item in to_be_purchased_items %}
                <div class="item row user-select-none">
                  <div class="col-12 col-md-9">
                    <input type="hidden" name="csrf_token" id="csrf_token" value="{{csrf_token()}}">
                    <p class="id d-none">{{item.ItemId}}</p>
                    <p class="previous-status d-none">0</p>
                    <p class="item-name mb-2" draggable="true">{{item.ItemName}} - <span class="text-secondary ">&#8369;{{ "{:,.2f}".format(item.Amount) }}</span></p>
                    <small class="text-secondary ">Activity: {{item.Activity.ActivityName}}</small>
                  </div>
                  <div class="col-12 col-md-3 d-flex align-items-center">
                    <div class="row d-flex align-items-center">
                      <div class="col-12 col-md-4">
                        <a href="#" data-bs-toggle="modal" data-bs-target="#edit-item-{{item.ItemId}}" data-toggle="tooltip" data-placement="bottom" title="Edit" class="me-2 text-decoration-none text-primary">
                          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="currentColor" d="m7 17.013l4.413-.015l9.632-9.54c.378-.378.586-.88.586-1.414s-.208-1.036-.586-1.414l-1.586-1.586c-.756-.756-2.075-.752-2.825-.003L7 12.583zM18.045 4.458l1.589 1.583l-1.597 1.582l-1.586-1.585zM9 13.417l6.03-5.973l1.586 1.586l-6.029 5.971L9 15.006z"/><path fill="currentColor" d="M5 21h14c1.103 0 2-.897 2-2v-8.668l-2 2V19H8.158c-.026 0-.053.01-.079.01c-.033 0-.066-.009-.1-.01H5V5h6.847l2-2H5c-1.103 0-2 .897-2 2v14c0 1.103.897 2 2 2"/></svg>
                        </a>
                      </div>
                      <div class="col-12 col-md-4">
                        <a href="#" data-bs-toggle="modal" data-bs-target="#delete-item-{{item.ItemId}}" data-toggle="tooltip" data-placement="right" title="Delete" class="me-2 text-decoration-none text-danger">
                          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 512 512"><path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="32" d="m112 112l20 320c.95 18.49 14.4 32 32 32h184c17.67 0 30.87-13.51 32-32l20-320"/><path fill="currentColor" stroke="currentColor" stroke-linecap="round" stroke-miterlimit="10" stroke-width="32" d="M80 112h352"/><path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="32" d="M192 112V72h0a23.93 23.93 0 0 1 24-24h80a23.93 23.93 0 0 1 24 24h0v40m-64 64v224m-72-224l8 224m136-224l-8 224"/></svg>
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
                {% include 'programs/edit_item_modal.html' %}
                {% include 'programs/delete_item.html' %}
                {% endfor %}
              </div>
              <div class="swim-lane">
                <h3 class="heading">Purchased</h3>
                {% for item in purchased_items %}
                <div class="item row user-select-none" draggable="true">
                  <div class="col-12 col-md-9">
                    <input type="hidden" name="csrf_token" id="csrf_token" value="{{csrf_token()}}">
                    <p class="id d-none">{{item.ItemId}}</p>
                    <p class="previous-status d-none">1</p>
                    <p class="item-name mb-2">{{item.ItemName}} - <span class="text-secondary ">&#8369;{{ "{:,.2f}".format(item.Amount) }}</span></p>
                    <small class="text-secondary ">Activity: {{item.Activity.ActivityName}}</small>
                  </div>
                  <div class="col-12 col-md-3 d-flex align-items-center"  data-toggle="tooltip" data-placement="left" title="Receipt">
                    <div class="row">
                      <div class="col-12 col-md-4">
                        <a href="#" data-bs-toggle="modal" data-bs-target="#edit-item-{{item.ItemId}}" data-toggle="tooltip" data-placement="bottom" title="Edit" class="me-2 text-decoration-none text-primary">
                          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="currentColor" d="m7 17.013l4.413-.015l9.632-9.54c.378-.378.586-.88.586-1.414s-.208-1.036-.586-1.414l-1.586-1.586c-.756-.756-2.075-.752-2.825-.003L7 12.583zM18.045 4.458l1.589 1.583l-1.597 1.582l-1.586-1.585zM9 13.417l6.03-5.973l1.586 1.586l-6.029 5.971L9 15.006z"/><path fill="currentColor" d="M5 21h14c1.103 0 2-.897 2-2v-8.668l-2 2V19H8.158c-.026 0-.053.01-.079.01c-.033 0-.066-.009-.1-.01H5V5h6.847l2-2H5c-1.103 0-2 .897-2 2v14c0 1.103.897 2 2 2"/></svg>
                        </a>
                      </div>
                      <div class="col-12 col-md-4">
                        <a href="#" data-bs-toggle="modal" data-bs-target="#delete-item-{{item.ItemId}}" data-toggle="tooltip" data-placement="right" title="Delete" class="me-2 text-decoration-none text-danger">
                          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 512 512"><path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="32" d="m112 112l20 320c.95 18.49 14.4 32 32 32h184c17.67 0 30.87-13.51 32-32l20-320"/><path fill="currentColor" stroke="currentColor" stroke-linecap="round" stroke-miterlimit="10" stroke-width="32" d="M80 112h352"/><path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="32" d="M192 112V72h0a23.93 23.93 0 0 1 24-24h80a23.93 23.93 0 0 1 24 24h0v40m-64 64v224m-72-224l8 224m136-224l-8 224"/></svg>
                        </a>
                      </div>
                      <div class="col-12 col-md-4">
                        <a href="#" data-bs-toggle="modal" data-bs-target="#receipt-{{item.ItemId}}"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 512 512"><path fill="none" stroke="currentColor" stroke-linejoin="round" stroke-width="40" d="M160 336V48l32 16l32-16l31.94 16l32.37-16L320 64l31.79-16l31.93 16L416 48l32.01 16L480 48v224"/><path fill="none" stroke="currentColor" stroke-linejoin="round" stroke-width="32" d="M480 272v112a80 80 0 0 1-80 80a80 80 0 0 1-80-80v-48H48a15.86 15.86 0 0 0-16 16c0 64 6.74 112 80 112h288"/><path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="32" d="M224 144h192m-128 80h128"/></svg></a>
                      </div>
                    </div>
                  </div>
                </div>
                {% include 'programs/edit_item_modal.html' %}
                {% include 'programs/delete_item.html' %}
                {% include 'programs/receipt_modal.html' %}
                {% endfor %}
              </div>
            </div>
        </div>
    </div>
</div>

<!-- Add item modal -->
<div class="modal modal-blur fade" id="add-item" tabindex="-1" style="display: none;" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Add Item</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <form action="" method="post">
      {{form.csrf_token()}}
      <div class="modal-body">
        <div class="row">
          <div class="col-12 mb-3">
              {{form.item.label(class="form-label")}}
              {{form.item(class="form-control")}}
          </div>
          <div class="col-12 mb-3">
            {{form.particulars.label(class="form-label")}}
            {{form.particulars(class="form-control")}}
          </div>
          <div class="col-12 mb-3">
            <label for="amount" class="form-label">Estimated Amount</label>
            {{form.amount(class="form-control")}}
          </div>
          <div class="col-12 mb-3">
            {{form.activity.label(class="form-label")}}
            <select name="{{form.activity.name}}" id="{{form.activity.id}}" class="form-select">
              {% for activity in project.Activity %}
              <option value="{{activity.ActivityId}}">{{activity.ActivityName}}</option>
              {% endfor %}
            </select>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn me-auto" data-bs-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary" data-bs-dismiss="modal">Add Item</button>
      </div>
    </form>
    </div>
  </div>
</div>
{% endblock %}

{% block script %}
<!--Datatables -->
<script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/responsive/2.2.3/js/dataTables.responsive.min.js"></script>
<script type="text/javascript">
    // Calculate the remaining budget
    window.externalBudget = {{external_budget}};
    window.internalBudget = {{internal_budget}};

    window.remainingInternal = window.internalBudget;
    window.remainingExternal = window.externalBudget;
    var total = 0;

    {% if purchased_items %}
        {% for item in purchased_items %}
            total += {{item.Amount}};
        {% endfor %}
        window.remainingInternal -= total;
        if (remainingInternal < 0) {
            total = Math.abs(remainingInternal);
            window.remainingInternal = 0;
            window.remainingExternal -= total;
        }
    {% endif %}

    // Initialize the echarts instance based on the prepared dom
    window.myChart = echarts.init(document.getElementById('main'));

    // Specify the configuration items and data for the chart
    window.option = {
    // color: ["#206AC5", "#174B8E"],
    title: {
      text: 'Remaining Budget',
      padding: 20,
      textStyle: {
        fontWeight: "bold"
      }
    },
    tooltip: {},
    legend: {},
    grid: {
      top: "25%",
      left: "8%",
      rigth: "8%",
      bottom: "20%",
      width: "84%"
    },
    xAxis: {
        type: 'value'
    },
    yAxis: {
        type: 'category',
        data: ['External', 'Internal']
    },
    series: [
        {
        data: [
          {
            value: window.remainingExternal,
          },
          {
            value: window.remainingInternal,
          },
        ],
        type: 'bar',
        colorBy: "data",
        }
    ],
    };

    // Display the chart using the configuration items and data just specified.
    window.myChart.setOption(window.option);
</script>
{% endblock %}