{% extends 'admin/base.html' %}

{% block head %}
    <title>{{project.Title}} Budget</title>
    <script src="https://cdn.jsdelivr.net/npm/echarts@5.4.3/dist/echarts.min.js"></script>
    <!--Regular Datatables CSS-->
    <link href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" rel="stylesheet">
    <!--Responsive Extension Datatables CSS-->
    <link href="https://cdn.datatables.net/responsive/2.2.3/css/responsive.dataTables.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/table_style.css') }}">  
    <link rel="stylesheet" href="{{ url_for('static', filename='css/kanban.css') }}" />
    <script src="{{ url_for('static', filename='js/drag.js') }}" defer></script>
{% endblock %}

{% block content %}
<div class="container-xl mt-4">
    <div class="row g-2 align-items-center">
        <div class="col">
            <h2 class="page-title">
            {{ project.Title }}
            </h2>
        </div>
        <!-- Page title actions -->
        <div class="col-auto ms-auto d-print-none">
            <div class="d-flex">
            <a href="#" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#add-item">
                <!-- Download SVG icon from http://tabler-icons.io/i/plus -->
                <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path d="M12 5l0 14"></path><path d="M5 12l14 0"></path></svg>
                Add Item
            </a>
            </div>
        </div>
    </div>
</div>
<!-- Page body -->
<div class="page-body pb-4">
    <div class="container-xl">
        <div class="card p-0">
            <div id="main" style="width: 100%; height: 250px"></div>
        </div>
        <div class="board">    
            <div class="lanes">
              <div class="swim-lane" id="todo-lane">
                <h3 class="heading">To Be Purchased</h3>
                {% for item in to_be_purchased_items %}
                <div class="task">
                  <p class="id d-none">{{item.ItemId}}</p>
                  <p class="item-name" draggable="true">{{item.ItemName}}</p>
                </div>
                {% endfor %}
              </div>
      
              <div class="swim-lane">
                <h3 class="heading">Purchased</h3>
                {% for item in purchased_items %}
                <div class="task">
                  <p class="id d-none">{{item.ItemId}}</p>
                  <p class="item-name" draggable="true">{{item.ItemName}}</p>
                </div>
                {% endfor %}
              </div>
            </div>
        </div>
    </div>
</div>

<!-- Add item modal -->
<div class="modal modal-blur fade" id="add-item" tabindex="-1" style="display: none;" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Add Item</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <form action="" method="post">
      {{form.csrf_token()}}
      <div class="modal-body">
        <div class="row">
          <div class="col-12 mb-3">
              {{form.item.label(class="form-label")}}
              {{form.item(class="form-control")}}
          </div>
          <div class="col-12 mb-3">
              {{form.activity.label(class="form-label")}}
              <select name="{{form.activity.name}}" id="{{form.activity.id}}" class="form-select">
                {% for activity in project.Activity %}
                <option value="{{activity.ActivityId}}">{{activity.ActivityName}}</option>
                {% endfor %}
              </select>
          </div>
          <div class="col-12 mb-3">
            <label for="amount" class="form-label">Estimated Amount</label>
            {{form.amount(class="form-control")}}
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn me-auto" data-bs-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary" data-bs-dismiss="modal">Add Item</button>
      </div>
    </form>
    </div>
  </div>
</div>
{% endblock %}

{% block script %}
<!--Datatables -->
<script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/responsive/2.2.3/js/dataTables.responsive.min.js"></script>
<script type="text/javascript">
    $(document).ready(function() {

    var table = $('#to-be-purchased').DataTable({
            responsive: true
        })
        .columns.adjust()
        .responsive.recalc()
    var table1 = $('#purchased').DataTable({
            responsive: true
        })
        .columns.adjust()
        .responsive.recalc()
    });

    // Initialize the echarts instance based on the prepared dom
    var myChart = echarts.init(document.getElementById('main'));

    // Specify the configuration items and data for the chart
    var option = {
    tooltip: {},
    legend: {},
    xAxis: {
        type: 'value'
    },
    yAxis: {
        type: 'category',
        data: ['Internal', 'External']
    },
    series: [
        {
        data: [
          {
            value: {{internal_budget.Amount if internal_budget else 0}},
            itemStyle: {
              color: '#f2cb05'
            },
          },
          {
            value: {{external_budget.Amount if external_budget else 0}},
            itemStyle: {
              color: '#800000'
            },
          },
        ],
        type: 'bar'
        }
    ],
    };

    // Display the chart using the configuration items and data just specified.
    myChart.setOption(option);
</script>
{% endblock %}