{% extends 'base.html' %}

{% block head %}
<title>{{ project.Title }} Management</title>
<!--Regular Datatables CSS-->
<link href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" rel="stylesheet">
<!--Responsive Extension Datatables CSS-->
<link href="https://cdn.datatables.net/responsive/2.2.3/css/responsive.dataTables.min.css" rel="stylesheet">
<!-- <link rel="stylesheet" href="{{ url_for('static', filename='css/table_style.css') }}"> -->
{% endblock %}

{% block content %}
<div class="container-xl w-100 flex justify-center mx-auto py-8">
    <div class="page-header my-4">
        <div class="row align-items-center mw-100">
            <div class="col">
                <div class="mb-2">
                <ol class="breadcrumb bg-transparent p-0" aria-label="breadcrumbs">
                    <li class="breadcrumb-item"><a href="{{url_for('programs.project', id=project.ProjectId)}}">{{project.Title}}</a></li>
                    <li class="breadcrumb-item active" aria-current="page"><a href="#">Attendance and Evaluation Management</a></li>
                </ol>
                </div>
                <h2 class="page-title">
                    Attendance and Evaluation Management
                </h2>
            </div>
        </div>
    </div>   
    <!-- Evaluation Card -->
    <div id="evaluation-panel" class="card p-3 shadow">
        <table id="activities" class="stripe hover" style="width:100%; padding-top: 1em;  padding-bottom: 1em;">
            <thead>
                <tr>
                    <th data-priority="1">Activity</th>
                    <th data-priority="2">Action</th>
                </tr>
            </thead>
            <tbody>
                {% for activity in project.Activity %}
                <tr>
                    <td>{{activity.ActivityName}}</td>
                    <td>
                        <a href="{{url_for('programs.manageAttendance', project_id=project.ProjectId, activity_id=activity.ActivityId)}}" class="btn btn-success">Record Attendance</a>
                        {% if activity.Evaluation %}
                        <a href="{{url_for('evaluation.studentEvaluation', id=activity.Evaluation[0].EvaluationId)}}" class="btn btn-success">Take evaluation</a>
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <!-- /Card -->
</div>




{% endblock %}

{% block script %}
<!--Datatables -->
<script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/responsive/2.2.3/js/dataTables.responsive.min.js"></script>
<script>
    $(document).ready(function() {
        var table = $('#activities').DataTable({
            responsive: true,
        })
        .columns.adjust()
        .responsive.recalc()

    });
</script>
{% endblock %}