<div class="modal modal-blur" id="view-activity-{{activity.ActivityId}}" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">{{activity.ActivityName}}</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-auto col-md-3">
                        <div class="mb-3">
                            <span class="avatar" style="background-image: url('{{activity.ImageUrl if activity.ImageUrl}}'); height: 175px; width: 175px"></span>
                        </div>
                    </div>
                    <div class="col-auto col-md-9">
                        <div class="mb-3 d-flex flex-column">
                            <!-- name -->
                            <span class="datagrid-title">Activity Name</span>
                            <span class="datagrid-content">{{ activity.ActivityName }}</span>
                        </div>
                        <div class="mb-3 d-flex flex-column">
                            <!--date -->
                            <span class="datagrid-title">Date</span>
                            <span class="datagrid-content">{{ activity.Date.strftime('%A, %B %d %Y') }}</span>
                        </div>
                        <div class="mb-3 d-flex flex-column">
                            <!-- time -->
                            <span class="datagrid-title">Time</span>
                            <span class="datagrid-content">{{activity.StartTime.strftime('%I:%M %p') if activity.StartTime}} - {{activity.EndTime.strftime('%I:%M %p') if activity.EndTime}}</span>
                        </div>
                    </div>
                    <div class="col-auto col-md-8">
                        <div class="mb-3 d-flex flex-column">
                            <!-- speaker-->
                            <span class="datagrid-title">Speakers</span>
                            <div class="row">
                                {% for key, value in activity.Speaker.items() %}
                                <div class="col-auto col-md-6">
                                    {{ value }}
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    <div class="col-auto col-md-4">
                        <div class="mb-3 d-flex flex-column">
                            <!-- location -->
                            <span class="datagrid-title">Location</span>
                            <span class="datagrid-content">{{ activity.Location.LocationName }}</span>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="mb-3 d-flex flex-column">
                            <!-- description -->
                            <span class="datagrid-title">Description</span>
                            <span class="datagrid-content">{{activity.Description|safe }}</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <a href="#" class="btn btn-link link-secondary" data-bs-dismiss="modal">
                    Close
                </a>
            </div>
        </div>
    </div>
</div>

