{% extends 'admin/base.html' %}

{% block head %}
    <title>{{ project.Title }}</title>
    <!--Regular Datatables CSS-->
    <link href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" rel="stylesheet">
    <!--Responsive Extension Datatables CSS-->
    <link href="https://cdn.datatables.net/responsive/2.2.3/css/responsive.dataTables.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/table_style.css') }}">  
{% endblock %}

{% block content %}

<!-- Background image -->
<div class="text-center bg-image" style="
background-image: url('{{project.ImageUrl if project.ImageUrl else 'https://mdbcdn.b-cdn.net/img/new/slides/041.webp' }}');
height: 200px;
object-fit: cover;">
    <div class="mask" style="background-color: rgba(0, 0, 0, 0.6); height:inherit">
        <div class="ms-4 d-flex flex-column justify-content-between align-items-start  h-100">
            <ol class="breadcrumb bg-transparent px-0" aria-label="breadcrumbs">
                <li class="breadcrumb-item"><a href="{{url_for('programs.programs')}}" class="text-primary">Extension Programs</a></li>
                <li class="breadcrumb-item"><a href="{{url_for('programs.viewExtensionProgram', id=project.ExtensionProgram.ExtensionProgramId)}}" class="text-primary">{{ project.ExtensionProgram.Name }}</a></li>
                <li class="breadcrumb-item text-white active text-truncate" style="max-width: 400px;" aria-current="page"><a href="#" class="">{{project.Title}}</a></li>
            </ol>
            <div class="text-white">
                <h2 class="mb-3 ">{{project.Title}}</h2>
            </div>
        </div>
    </div>
</div>
<!-- Background image -->

<!-- Tabs -->
<div class="mx-5 mb-5 mt-4 shadow-sm">
    <div class="card bg-light bg-gradient shadow-none">
        <div class="card-header">
            <ul class="nav nav-tabs card-header-tabs" data-bs-toggle="tabs" role="tablist">
                <li class="nav-item" role="presentation">
                <a href="#tabs-details" class="nav-link active" data-bs-toggle="tab" aria-selected="true" role="tab"><!-- Download SVG icon from http://tabler-icons.io/i/home -->
                    <svg xmlns="http://www.w3.org/2000/svg" class="icon me-2" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M11.999 3l.001 17" /><path d="M10.363 3.591l-8.106 13.534a1.914 1.914 0 0 0 1.636 2.871h16.214a1.914 1.914 0 0 0 1.636 -2.87l-8.106 -13.536a1.914 1.914 0 0 0 -3.274 0z" /></svg>
                    Details</a>
                </li>
                <li class="nav-item">
                <a href="#tabs-activity" class="nav-link" data-bs-toggle="tab">
                    <svg xmlns="http://www.w3.org/2000/svg" class="icon me-2" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path d="M3 12h4l3 8l4 -16l3 8h4"></path></svg>
                    Activity</a>
                </li>
                <li class="nav-item" role="presentation">
                <a href="#tabs-registered" class="nav-link" data-bs-toggle="tab" aria-selected="false" tabindex="-1" role="tab"><!-- Download SVG icon from http://tabler-icons.io/i/user -->
                    <svg xmlns="http://www.w3.org/2000/svg" class="icon me-2" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path d="M8 7a4 4 0 1 0 8 0a4 4 0 0 0 -8 0"></path><path d="M6 21v-2a4 4 0 0 1 4 -4h4a4 4 0 0 1 4 4v2"></path></svg>
                    Registered</a>
                </li>
            </ul>
        </div>
        <div class="card-body bg-white shadow-sm">
            <div class="tab-content">
                <div class="tab-pane active show" id="tabs-details" role="tabpanel">
                    <div class="row g-2">
                        <div class="col-auto col-md-8">
                            <h4 class="pb-2">Details</h4>
                        </div>
                        <div class="col-auto col-md-4 d-flex justify-content-md-end " id="details-buttons">
                            <button type="button" data-bs-toggle="modal" data-bs-target="#edit-project" class="btn btn-primary rounded-2 d-flex align-items-center me-2 py-1 px-2">
                                <iconify-icon class="me-2" icon="bx:edit"></iconify-icon>
                                Edit
                            </button>
                            <button type="button" data-bs-toggle="modal" data-bs-target="#delete-project" class="btn btn-danger rounded-2 d-flex align-items-center  py-1 px-2">
                                <iconify-icon class="me-2" icon="ion:trash-outline"></iconify-icon>
                                Delete
                            </button>
                            {% include 'programs/edit_project_modal.html' %}
                            {% include 'programs/delete_project.html' %}
                        </div>  
                        <div class="col-auto col-md-2">
                            <div class="datagrid-title">Extension Project ID</div>
                            <div class="datagrid-content">{{project.ProjectId}}</div>
                        </div>
                        <div class="col-auto col-md-2">
                            <div class="datagrid-title">Project Type</div>
                            <div class="datagrid-content">{{project.ProjectType}}</div>
                        </div>
                        <div class="col-auto col-md-4">
                            <div class="datagrid-title">Implementer</div>
                            <div class="datagrid-content">{{project.Implementer}}</div>
                        </div>
                        <div class="col-auto col-md-4">
                            <div class="datagrid-title">Lead Proponent</div>
                            <div class="datagrid-content">{{project.LeadProponent.FirstName}} {{project.LeadProponent.LastName}}</div>
                        </div>
                        <div class="col-auto col-md-4">
                            <div class="datagrid-title">Collaborator</div>
                            <div class="datagrid-content">{{project.Collaborator.Organization}}</div>
                        </div>
                        <div class="col-auto col-md-8">
                            <div class="datagrid-title">Project Team</div>
                            <div class="datagrid-content row">
                                {% for faculty in project.ProjectTeam.split(",") %}
                                    <span class="col-auto col-md-4">{{faculty.replace("{", "").replace("}", "").replace("\"", "")}}</span>
                                {% endfor %}
                            </div>
                        </div>
                        <div class="col-auto col-md-2">
                            <div class="datagrid-title">Start Date</div>
                            <div class="datagrid-content">{{project.StartDate}}</div>
                        </div>
                        <div class="col-auto col-md-2">
                            <div class="datagrid-title">End Date</div>
                            <div class="datagrid-content">{{project.EndDate}}</div>
                        </div>
                        <div class="col-auto col-md-2">
                            <div class="datagrid-title">Status</div>
                            <div class="datagrid-content">{{project.Status}}</div>
                        </div>
                        <div class="col-auto col-md-2">
                            <div class="datagrid-title">Proposed Budget</div>
                            <div class="datagrid-content">{{project.ProposedBudget}}</div>
                        </div>
                        <div class="col-auto col-md-2">
                            <div class="datagrid-title">Approved Budget</div>
                            <div class="datagrid-content">{{project.ApprovedBudget}}</div>
                        </div>
                        <div class="col-auto col-md-2">
                            <div class="datagrid-title">Fund Type</div>
                            <div class="datagrid-content">{{project.FundType}}</div>
                        </div>
                        <div class="col-7">
                            <div class="datagrid-title">Target Group</div>
                            <div class="datagrid-content">{{project.TargetGroup}}</div>
                        </div>
                        <div class="col-12">
                            <div class="datagrid-title">Impact Statement</div>
                            <div class="datagrid-content">{{project.ImpactStatement|safe}}</div>
                        </div>
                        <div class="col-12">
                            <div class="datagrid-title">Objectives</div>
                            <div class="datagrid-content">{{project.Objectives|safe}}</div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane" id="tabs-activity">
                    <div class="d-none rounded-2" id="activity-button" role="group">
                        <button type="button" data-bs-toggle="modal" data-bs-target="#add-activity" class="btn btn-primary rounded-3 d-flex align-items-center me-2 py-1 px-2">
                            <iconify-icon class="w-3 h-3 mr-2" icon="ic:baseline-plus"></iconify-icon>
                            Add Activity
                        </button>
                    </div>  
                    <h4>Activity tab</h4>
                    {% for project in ext_program.Projects %}
                    <div class="list-group-item">
                        <a href="{{url_for('programs.viewProject', id=project.ProjectId)}}">
                            <div class="row">
                                <div class="col-auto">
                                    <span class="avatar" style="background-image: url('{{project.ImageUrl if project.ImageUrl}}'); height: 75px; width: 75px"></span>
                                </div>
                                <div class="col text-truncate">
                                    <span class="text-body d-block">{{project.Title}}</span>
                                    <div class="text-secondary text-truncate mt-n1">{{project.LeadProponent.FirstName}} {{project.LeadProponent.LastName}}</div>
                                </div>
                            </div>
                        </a>
                    </div>
                    {% endfor %}
                </div>
                <div class="tab-pane" id="tabs-registered" role="tabpanel">
                    <h4 class="pb-2">Registered Beneficiaries and Volunteers</h4>
                    <!-- registered users table-->
                    <div class="container w-100 mx-auto px-2">
                        <table id="users" class="stripe hover" style="width:100%; padding-top: 1em;  padding-bottom: 1em;">
                            <thead>
                                <tr>
                                    <th data-priority="1">First Name</th>
                                    <th data-priority="2">Middle Name</th>
                                    <th data-priority="3">Last Name</th>
                                    <th data-priority="4">Role</th>
                                    {% if current_user.Role.RoleName == 'Admin' %}
                                    <th data-priority="5">Action</th>
                                    {% endif %}
                                </tr>
                            </thead>
                            <tbody>
                                {% for user in registered %}
                                <tr>
                                    <td>{{ user.User.FirstName }}</td>
                                    <td>{{ user.User.MiddleName if user.User.MiddleName else 'N/A' }}</td>
                                    <td>{{ user.User.LastName }}</td>
                                    <td>{{ user.User.Login.Role.RoleName }}</td>
                                    {% if current_user.Role.RoleName == 'Admin' %}
                                    <td class="d-flex justify-content-center"><a href="{{ url_for('admin.viewUser', id=user.User.UserId) }}" class="bg-success-subtle text-success me-2 px-2 py-1 rounded-2">View</a></td>
                                    {% endif %}
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>   
                    </div>
                    <!--/registered users table--->
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /Tabs -->

{% endblock %}

{% block script %}
<!--Datatables -->
<script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/responsive/2.2.3/js/dataTables.responsive.min.js"></script>
<script>
    document.addEventListener("DOMContentLoaded", function() {
        var table = $('#users').DataTable({
                responsive: true
        })
        .columns.adjust()
        .responsive.recalc()
        
        const activityOutlineTab = document.getElementById('tabs-activity')
        const detailsTab = document.getElementById('tabs-details')
        const registeredTab = document.getElementById('tabs-registered')
        const activityButton = document.getElementById('activity-button');
        const detailsButton = document.getElementById('details-buttons');
        
        activityOutlineTab.addEventListener('click', function () {
            detailsButton.classList.remove('d-inline-flex');
            detailsButton.classList.add('d-none');
            activityButton.classList.remove('d-none');
            activityButton.classList.add('d-inline-flex');
        });
        detailsTab.addEventListener('click', function () {
            activityButton.classList.remove('d-inline-flex');
            activityButton.classList.add('d-none');
            detailsButton.classList.remove('d-none');
            detailsButton.classList.add('d-inline-flex');
        });
        registeredTab.addEventListener('click', function () {
            activityButton.classList.remove('d-inline-flex');
            activityButton.classList.add('d-none');
            detailsButton.classList.remove('d-inline-flex');
            detailsButton.classList.add('d-none');
        });
        // Add a delay before re-rendering calendar
        // setTimeout(function() {
        //     calendar.render();
        // }, 10); // Adjust the delay as needed
    });
</script>
{% endblock %}