{% extends 'admin/base.html' %}

{% block head %}
    <title>{{ ext_program.Name }}</title> 
{% endblock %}

{% block content %}

<!-- Background image -->
<div class="text-center bg-image" style="
    background-image: url('{{ext_program.ImageUrl if ext_program.ImageUrl else 'https://mdbcdn.b-cdn.net/img/new/slides/041.webp' }}');
    height: 200px;
    object-fit: cover;">
    <div class="mask" style="background-color: rgba(0, 0, 0, 0.6); height:inherit">
    <div class="container-xl d-flex flex-column justify-content-between align-items-start  h-100">
        <ol class="breadcrumb bg-transparent px-0 mt-2" aria-label="breadcrumbs">
            <li class="breadcrumb-item"><a href="{{url_for('programs.programs')}}" class="text-primary">Extension Programs</a></li>
            <li class="breadcrumb-item text-white active" aria-current="page"><a href="#">{{ext_program.Name}}</a></li>
        </ol>
        <div class="text-white">
            <h2 class="mb-3 ">{{ext_program.Name}}</h2>
        </div>
    </div>
    </div>
</div>
<!-- Background image -->
<div class="container-xl">
    {% include 'programs/components/ext_program_info.html' %}
     <!--Card-->
     <div class="card mb-5">
        <div class="card-header d-flex justify-content-between">
            <h3 class="card-title">Projects</h3>
            <div class="d-flex justify-content-end w-100">
                <a href="#" data-bs-toggle="modal" data-bs-target="#add-project" class="btn btn-primary d-flex align-items-center ">
                    <!-- Download SVG icon from http://tabler-icons.io/i/plus -->
                    <svg xmlns="http://www.w3.org/2000/svg" class="icon p-0 me-1" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M12 5l0 14" /><path d="M5 12l14 0" /></svg>
                    Add project
                </a>
            </div>
            {% include 'programs/add_project_modal.html' %}
        </div>
        {% if ext_program.Projects %}
        <div class="list-group list-group-flush overflow-auto" style="max-height: 35rem">
            {% for project in ext_program.Projects %}
            {% if project.IsArchived == False %}
            {% if current_user.Role.RoleName == "Faculty" %}
            {% if project.LeadProponentId == current_user.UserId %}
                <div class="list-group-item">
                    <a href="{{url_for('programs.viewProject', id=project.ProjectId)}}">
                        <div class="row">
                            <div class="col-auto">
                                <span class="avatar" style="background-image: url('{{project.ImageUrl if project.ImageUrl}}'); height: 75px; width: 75px"></span>
                            </div>
                            <div class="col text-truncate">
                                <span class="text-body d-block">{{project.Title}}</span>
                                <div class="text-secondary text-truncate mt-n1">{{project.LeadProponent.Faculty.FirstName}} {{project.LeadProponent.Faculty.LastName}}</div>
                            </div>
                        </div>
                    </a>
                </div>
                {% endif %}
            {% else %}
                <div class="list-group-item">
                <a href="{{url_for('programs.viewProject', id=project.ProjectId)}}">
                    <div class="row">
                        <div class="col-auto">
                            <span class="avatar" style="background-image: url('{{project.ImageUrl if project.ImageUrl}}'); height: 75px; width: 75px"></span>
                        </div>
                        <div class="col text-truncate">
                            <span class="text-body d-block">{{project.Title}}</span>
                            <div class="text-secondary text-truncate mt-n1">{{project.LeadProponent.Faculty.FirstName}} {{project.LeadProponent.Faculty.LastName}}</div>
                        </div>
                    </div>
                </a>
                </div>
            {% endif %}
            {% endif %}
            {% endfor %}
        </div>
        {% else %}
        <div class="d-flex justify-content-center p-5">
            <span>No projects found.</span>
        </div>
        {% endif %}
     </div>
    <!--/Card-->
</div>

{% endblock %}
{% block script %}
<script id="item-template" type="text/template">
    <div class="col-12 budget">
        <div class="row">
            <div class="col-12 col-md-6">
                <div class="mb-3">
                    <label for="approved_budget" class="form-label">Budget Amount</label>
                    <input type="number" name="approved_budget" class="form-control" required>
                </div>
            </div>
            <div class="col-12 col-md-5">
                <div class="mb-3">
                    <label for="fund_type" class="form-label">Fund Type</label>
                    <select name="fund_type" id="fund_type" class="form-select" required>
                        <option value="Internal">Internal</option>
                        <option value="External">External</option>
                    </select>
                </div>
            </div>
            <div class="col-12 col-md-1 d-flex align-items-end">
                <button type="button" class="btn bg-transparent border-0 text-danger remove-item p-0 fs-1 pb-3"><iconify-icon icon="ion:trash-outline"></iconify-icon></button>
            </div>
        </div>
    </div>
</script>
<script>
    $(document).ready(function() {
    var itemCount = 1; // Keep track of the number of forms

    $('#add-item-button').click(function() {
        itemCount++;
        var newForm = $('#item-template').html().replace(/__prefix__/g, itemCount); // Replace placeholders
        $('#add-item-button').before(newForm);
    });

    $('body').on('click', '.remove-item', function() {
        $(this).closest('.budget').remove();
    });

    const checkbox = document.getElementById("checkbox");
    const selectField = document.getElementById("research-title");

    checkbox.addEventListener("change", () => {
        selectField.style.display = checkbox.checked ? "block" : "none";
        if (checkbox.classList.contains('bg-primary')) {
            checkbox.classList.remove('bg-primary');
            checkbox.classList.add('bg-secondary');
        } else {
            checkbox.classList.remove('bg-secondary');
            checkbox.classList.add('bg-primary');
        }
    });
    });
</script>

{% endblock %}