{% extends 'admin/base.html' %}

{% block head %}
    <title>{{ activity.ActivityName }}</title>
    <!--Regular Datatables CSS-->
    <link href="https://cdn.datatables.net/1.13.7/css/jquery.dataTables.min.css" rel="stylesheet">
    <!--Responsive Extension Datatables CSS-->
    <!-- <link href="https://cdn.datatables.net/responsive/2.2.3/css/responsive.dataTables.min.css" rel="stylesheet"> -->
    <link href="https://cdn.datatables.net/buttons/2.4.2/css/buttons.dataTables.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/table_style.css') }}">
    <!-- Multiple Select -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/multiple-select.css')}}">

    {% endblock %}

{% block content %}

<!-- Background image -->
<div class="text-center bg-image" style="
background-image: url('{{activity.ImageUrl if activity.ImageUrl else 'https://mdbcdn.b-cdn.net/img/new/slides/041.webp' }}');
height: 200px;
object-fit: cover;">
    <div class="mask" style="background-color: rgba(0, 0, 0, 0.6); height:inherit">
        <div class="container-xl d-flex flex-column justify-content-between align-items-start  h-100">
            <ol class="breadcrumb bg-transparent px-0 mt-2" aria-label="breadcrumbs">
                <li class="breadcrumb-item"><a href="{{url_for('programs.programs')}}" class="text-primary">Extension Programs</a></li>
                <li class="breadcrumb-item"><a href="{{url_for('programs.viewExtensionProgram', id=activity.Project.ExtensionProgramId)}}" class="text-primary">{{ activity.Project.ExtensionProgram.Name }}</a></li>
                <li class="breadcrumb-item text-truncate" style="max-width: 400px;"><a href="{{url_for('programs.viewProject', id=activity.ProjectId)}}" class="text-primary">{{activity.Project.Title}}</a></li>
                <li class="breadcrumb-item text-white active" style="max-width: 400px;" aria-current="page"><a>{{activity.ActivityName}}</a></li>
            </ol>
            <div class="text-white">
                <h2 class="mb-3 ">{{activity.ActivityName}}</h2>
            </div>
        </div>
    </div>
</div>
<!-- Background image -->
<div class="container-xl">
<div class="card mx-5 mb-5 mt-4">
    <div class="card-header">
        <h3 class="card-title">Details</h3>
        <div class="d-flex justify-content-end w-100">
            {% if activity.Project.LeadProponentId == current_user.UserId %}
            <button type="button" data-bs-toggle="modal" data-bs-target="#edit-activity-{{activity.ActivityId}}" class="btn btn-warning rounded-2 d-flex align-items-center me-2 py-1 px-2">
                <iconify-icon class="me-2" icon="bx:edit"></iconify-icon>
                Edit
            </button>
            <button type="button" data-bs-toggle="modal" data-bs-target="#delete-activity-{{activity.ActivityId}}" class="btn btn-danger rounded-2 d-flex align-items-center  py-1 px-2">
                <iconify-icon class="me-2" icon="ion:trash-outline"></iconify-icon>
                Delete
            </button>
            {% include 'programs/edit_activity.html' %}
            {% include 'programs/delete_activity.html' %}
            {% endif %}
        </div>
        {# include 'programs/edit_ext_program_modal.html' #}
    </div>
    <div class="card-body">
        <div class="row g-2">
            <div class="col-auto col-md-2">
                <div class="datagrid-title">Activity ID</div>
                <div class="datagrid-content">{{activity.ActivityId}}</div>
            </div>
            <div class="col-auto col-md-4">
                <div class="datagrid-title">Activity Name</div>
                <div class="datagrid-content">{{activity.ActivityName}}</div>
            </div>
            <div class="col-auto col-md-6">
                <div class="datagrid-title">Speakers</div>
                <div class="datagrid-content">
                    <div class="row">
                        {% for speaker in activity.Speaker %}
                        <div class="col-auto col-md-6">
                            {% if speaker.FacultyId %}
                                {{speaker.Faculty.FirstName ~ " " ~ speaker.Faculty.LastName}}
                                <span class="text-secondary"> - Faculty </span>
                            {% else %}
                                {{speaker.Alumni.first_name ~ " " ~ speaker.Alumni.last_name}}
                                <span class="text-secondary"> - Alumni </span>
                            {% endif %}
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-3">
                <div class="datagrid-title">Date</div>
                <div class="datagrid-content">{{activity.Date.strftime('%B %d, %Y')}}</div>
            </div>
            <div class="col-12 col-md-3">
                <div class="datagrid-title">Start Time</div>
                <div class="datagrid-content">{{activity.StartTime.strftime('%I:%M %p')}}</div>
            </div>
            <div class="col-12 col-md-3">
                <div class="datagrid-title">End Time</div>
                <div class="datagrid-content">{{activity.EndTime.strftime('%I:%M %p')}}</div>
            </div>
            <div class="col-12 col-md-3">
                <div class="datagrid-title">Location</div>
                <div class="datagrid-content">{{activity.Location.LocationName}}</div>
            </div>
            <div class="col-12">
                <div class="datagrid-title">Description</div>
                <div class="datagrid-content">{{activity.Description|safe}}</div>
            </div>
        </div>
    </div>
</div>

 <!--Card-->
 <div class="card mx-5 mb-5">
    <div class="card-header d-flex justify-content-between">
        <h3 class="card-title">Beneficiary Attendance</h3>
    </div>
    <div class="card-body">
        <table id="attendance" class="stripe hover" style="width:100%; padding-top: 1em;  padding-bottom: 1em;">
            <thead>
                <tr>
                    <th data-priority="1">First Name</th>
                    <th data-priority="2">Middle Name</th>
                    <th data-priority="3">Last Name</th>
                    <th data-priority="4">Gender</th>
                    <th data-priority="5">Age</th>
                    <th data-priority="6">Address</th>
                </tr>
            </thead>
            <tbody>
                {% if attendance %}
                {% for record in attendance %}
                {% if record.User.RoleId == 2 %}
                <tr>
                    <td>{{record.User.Beneficiary.FirstName}}</td>
                    <td>{{record.User.Beneficiary.MiddleName if record.User.Beneficiary.MiddleName else 'N/A'}}</td>
                    <td>{{record.User.Beneficiary.LastName}}</td>
                    <td>
                        {% if record.User.Beneficiary.Gender == 1 %}
                        Male
                        {% elif record.User.Beneficiary.Gender == 2 %}
                        Female
                        {% else %}
                        Others
                        {% endif %}
                    </td>
                    <td>
                        {% set age = (current_date - record.User.Beneficiary.DateOfBirth) | string %}
                        {% set age = age.split(' ')[0] | int%}
                        {{ (age/365) | int }}
                    </td>
                    <td>{{record.User.Beneficiary.ResidentialAddress}}</td>
                </tr>
                {% else %}
                <tr>
                    <td>{{record.User.Student.FirstName}}</td>
                    <td>{{record.User.Student.MiddleName if record.User.Student.MiddleName else 'N/A'}}</td>
                    <td>{{record.User.Student.LastName}}</td>
                    <td>
                        {% if record.User.Student.Gender == 1 %}
                        Male
                        {% elif record.User.Student.Gender == 2 %}
                        Female
                        {% else %}
                        Others
                        {% endif %}
                    </td>
                    <td>
                        {% if record.User.Student.DateOfBirth%}
                        {% set age = (current_date - record.User.Student.DateOfBirth) | string %}
                        {% set age = age.split(' ')[0] | int%}
                        {{ (age/365) | int }}
                        {% else %}
                        'N/A'
                        {% endif %}
                    </td>
                    <td>{{record.User.Student.ResidentialAddress}}</td>
                </tr>
                {% endif %}
                {% endfor %}
                {% endif %}
            </tbody>
        </table>
    </div>
 </div>
<!--/Card-->
</div>

{% endblock %}

{% block script %}
<!--Datatables -->
<script src="https://cdn.datatables.net/1.13.7/js/jquery.dataTables.min.js"></script>
<!-- <script src="https://cdn.datatables.net/responsive/2.2.3/js/dataTables.responsive.min.js"></script> -->
<script src="https://cdn.datatables.net/buttons/2.4.2/js/dataTables.buttons.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.10.1/jszip.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
<script src="https://cdn.datatables.net/buttons/2.4.2/js/buttons.html5.min.js"></script>
<script src="https://cdn.datatables.net/buttons/2.4.2/js/buttons.print.min.js"></script>

<!-- Multiple Select -->
<script src="{{ url_for('static', filename='js/multiple-select.js')}}"></script>
<script>
    $(document).ready(function() {
        new MultipleSelect('#speaker', {
            placeholder: 'Select Speaker'
        })

        $('#attendance').DataTable( {
            dom: 'Bfrtip',
            buttons: [
                'copy',
                {
                    extend: 'csv',
                    title: '{{activity.ActivityName}} Attendance'
                },
                {
                    extend: 'excel',
                    title: '{{activity.ActivityName}} Attendance'
                },
                {
                    extend: 'pdf',
                    title: '{{activity.ActivityName}} Attendance'
                },
                {
                    extend: 'print',
                    title: '{{activity.ActivityName}} Attendance'
                },
            ]
        } );
    });
</script>
{% endblock %}